The task is to take the median of the p_theta column. After that take input from the user (0 or 1). If 0 then move downwards (eg if median is 142 then after pressing 0 row 143 should be printed) and if 1 then it should move upwards (i.e. 141 must be printed).

Now the code should continue from the current position.

This is used in giving out questions to the students according to their abilities. 

We start from the centre(median) question, if it is difficult for the student, he will get a easier qs (i.e. by pressing 1) and he will continue to do so till he finds a difficult qs.

Same algo will be used if the students feels that the median qs is easy. He will get difficult qs (0) 

p-theta: values gets closer to 0 :: The qs gets more difficult
         values gets further from 0 :: The qs gets easier

In [2]:
import pandas as pd
import numpy as np
import os
os.chdir("D:/iAnalyst/MyPat task")

In [3]:
df=pd.read_csv("Median_task.csv",index_col='Unnamed: 0')  #Excluding the unrequired column

In [4]:
data=df.copy()

In [5]:
data= data.drop_duplicates()   #There are duplicates in the data. Removing them
data.reset_index(inplace=True)   #Adjusting the indices accordingly as after removing duplicates the indices get distorted

In [6]:
data.drop('index',axis=1,inplace=True)    #Dropping the current index as no need now.

In [7]:
data

                  Question ID   p_theta
0    5a8ad03c738197281fba6578  0.673893
1    5a8ad03a738197281fba64d9  0.348582
2    5ab2164decf0ff301334ea28  0.258662
3    5ab2164decf0ff301334ea2c  0.261083
4    5a8ad040738197281fba6713  0.269708
..                        ...       ...
442  5a8ad041738197281fba67bd  0.988749
443  5ab2164decf0ff301334eac4  0.163431
444  5a8ad041738197281fba67bf  0.147711
445  5a8ad034738197281fba63eb  0.166157
446  5a8ad041738197281fba67c5  0.167813

[447 rows x 2 columns]

In [8]:
data.columns

Index(['Question ID', 'p_theta'], dtype='object')

In [9]:
data['p_theta'].median()

0.5895233161110254

In [10]:
med= data[data['p_theta']==data['p_theta'].median()]
#print(med)
med

                 Question ID   p_theta
71  5a8ad03c738197281fba6590  0.589523

In [11]:
while len(data)>=1:    #if len more than 1 then their median can be caluclated
    n= int(input("Enter 0 to increment or 1 to decrement : "))
    
    if n==1:
        if bool(data['p_theta'].median())==True:    #This loop is to ensure that when the medians will get over (i.e. the questions at one median end(e.g.easy qs)) the loop stops
            #display((data.iloc[med.index-1]))
            #display((data.iloc[med.index]))
            display((data.iloc[med.index+1]))         #printing the next in line question
        
            data.drop(med.index,axis=0,inplace=True)     #deleting the current median
            data.reset_index(drop= True,inplace=True)       #drop=true is imp as without it the previous indices keep piling up and code doesn't work as it cannot find next medians acc to indices
        else:
            break
        

    elif n==0:
        if bool(data['p_theta'].median())==True:
            display((data.iloc[med.index-1]))
            #display((data.iloc[med.index]))
            #display((data.iloc[med.index+1]))
        
            data.drop(med.index-1,axis=0,inplace=True)    #Here med.index-1 is imp as we have to get the previous index since we are moving from 70 to 69. In above n==0 case the median automatically goes to the next possible value
            data.reset_index(drop= True, inplace=True)
            med.index=med.index-1                         #Same reason as above
        else:
            break
    
        
    else:    
        print("Enter a valid number")
        break

Enter 0 to increment or 1 to decrement : 0

                 Question ID   p_theta
70  5aab737ebc1d1f3013e15a69  0.986999

Enter 0 to increment or 1 to decrement : 0

                 Question ID   p_theta
69  5a8ad03a738197281fba64e5  0.997418

Enter 0 to increment or 1 to decrement : 0

                 Question ID   p_theta
68  5a8ad034738197281fba6351  0.629129

Enter 0 to increment or 1 to decrement : 1

                 Question ID   p_theta
69  5a8ad03c738197281fba65a4  0.883296

Enter 0 to increment or 1 to decrement : 1

                 Question ID   p_theta
69  5a8ad03a738197281fba64e3  0.169668

Enter 0 to increment or 1 to decrement : 1

                 Question ID  p_theta
69  5a8ad03c738197281fba6594  0.16671

Enter 0 to increment or 1 to decrement : 0

                 Question ID   p_theta
67  5aab737abc1d1f3013e159e0  0.793779

Enter 0 to increment or 1 to decrement : 1

                 Question ID   p_theta
68  5a8ad040738197281fba6719  0.144949

Enter 0 to increment or 1 to decrement : 1

                 Question ID   p_theta
68  5a8ad040738197281fba671b  0.165648

Enter 0 to increment or 1 to decrement : 2
Enter a valid number

In [175]:
#data.iloc[65:85]

                 Question ID   p_theta
65  5aab737abc1d1f3013e159da  0.707195
66  5aab737abc1d1f3013e159de  0.890355
67  5aab737abc1d1f3013e159e0  0.793779
68  5a8ad034738197281fba6351  0.629129
69  5a8ad03a738197281fba64e5  0.997418
70  5aab737ebc1d1f3013e15a69  0.986999
71  5a8ad03c738197281fba6594  0.166710
72  5a8ad040738197281fba6719  0.144949
73  5a8ad040738197281fba671b  0.165648
74  5a8ad03c738197281fba65a0  0.997444
75  5a8ad03c738197281fba6596  0.611753
76  5a8ad03e738197281fba6678  0.791572
77  5a8ad03c738197281fba6598  0.996598
78  5a8ad03c738197281fba65a2  0.997444
79  5a8ad03a738197281fba6517  0.413153
80  5a8ad03c738197281fba65d3  0.478779
81  5a8ad03c738197281fba65d5  0.360473
82  5a8ad03a738197281fba6525  0.168077
83  5a8ad03a738197281fba6507  0.986943
84  5a8ad03a738197281fba6509  0.337546

In [73]:
#data.drop(med.index,axis=0,inplace=True)

In [42]:
#data.iloc[med.index]

                 Question ID   p_theta
70  5aab737ebc1d1f3013e15a69  0.986999

In [28]:
#data.iloc[med.index]
#data.drop(med.index,axis=0)

                  Question ID   p_theta
0    5a8ad03c738197281fba6578  0.673893
1    5a8ad03a738197281fba64d9  0.348582
2    5ab2164decf0ff301334ea28  0.258662
3    5ab2164decf0ff301334ea2c  0.261083
4    5a8ad040738197281fba6713  0.269708
..                        ...       ...
442  5a8ad041738197281fba67bd  0.988749
443  5ab2164decf0ff301334eac4  0.163431
444  5a8ad041738197281fba67bf  0.147711
445  5a8ad034738197281fba63eb  0.166157
446  5a8ad041738197281fba67c5  0.167813

[446 rows x 2 columns]