In [23]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [24]:
os.chdir("D:/iAnalyst/MyPat task")

df= pd.read_csv("Theta.csv")

data= df.copy()

print(data.head())

print(data.info())

print(data.describe())

print(data.isnull().sum())

                Goal Levels    x1    x2    x3    x4    x5    x6    x7    x8  \
0  5ace20379fe7b01d5806bec9 -0.30 -0.30 -1.53 -2.27 -1.98 -1.57 -1.26 -1.00
1  5ace20379fe7b01d5806bebb  1.23  0.91 -0.51 -0.77 -1.49 -1.99 -2.19 -2.24
2  5ace203f9fe7b01d5806c144 -0.05  0.26 -0.22 -0.62 -1.05 -0.82 -1.12 -1.29
3  5ace203f9fe7b01d5806c145 -0.05  1.45  0.24  0.89  0.81  0.51  0.22  0.03
4  5ace20349fe7b01d5806bdcc   NaN  2.67  0.55  1.05  1.20  1.01  0.48  0.71

     x9   x10   x11   x12   x13   x14   x15
0 -1.08 -1.12 -1.24 -1.29 -1.31 -1.35 -1.37
1 -2.31 -2.41 -2.38 -2.38 -2.37 -2.39 -2.41
2 -1.29 -1.58 -1.75 -1.88 -1.96 -2.02 -2.05
3  0.02 -0.19 -0.39 -0.55 -0.64 -0.70 -0.72
4  0.66  0.40  0.28  0.21  0.21  0.19  0.19
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 648 entries, 0 to 647
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Goal Levels  648 non-null    object
 1   x1           553 non-null    float64
 2   x2           621 non-null    float64
 3   x3           636 non-null    float64
 4   x4           644 non-null    float64
 5   x5           646 non-null    float64
 6   x6           647 non-null    float64
 7   x7           647 non-null    float64
 8   x8           648 non-null    float64
 9   x9           648 non-null    float64
 10  x10          648 non-null    float64
 11  x11          648 non-null    float64
 12  x12          648 non-null    float64
 13  x13          648 non-null    float64
 14  x14          648 non-null    float64
 15  x15          648 non-null    float64
dtypes: float64(15), object(1)
memory usage: 81.1+ KB
None
               x1          x2          x3          x4          x5          x6  \
count  553.000000  621.000000  636.000000  644.000000  646.000000  647.000000
mean     1.150127    0.491546    0.079623    0.199860    0.066858    0.033679
std      2.292796    1.706384    1.402894    1.382101    1.267742    1.206579
min     -4.000000   -4.000000   -4.000000   -4.000000   -4.000000   -4.000000
25%     -0.200000   -0.550000   -0.772500   -0.562500   -0.637500   -0.690000
50%      1.700000    0.560000    0.080000    0.285000    0.130000    0.090000
75%      3.030000    1.700000    1.022500    1.122500    0.947500    0.830000
max      4.000000    4.000000    4.000000    4.000000    3.410000    3.220000

               x7          x8          x9         x10         x11         x12  \
count  647.000000  648.000000  648.000000  648.000000  648.000000  648.000000
mean    -0.108547   -0.238472   -0.302145   -0.489059   -0.637392   -0.736080
std      1.158866    1.137292    1.129045    1.107643    1.094798    1.081579
min     -4.000000   -4.000000   -4.000000   -4.000000   -4.000000   -4.000000
25%     -0.750000   -0.892500   -0.930000   -1.140000   -1.270000   -1.330000
50%     -0.050000   -0.200000   -0.285000   -0.510000   -0.640000   -0.745000
75%      0.620000    0.490000    0.400000    0.200000    0.010000   -0.110000
max      3.190000    3.170000    3.210000    3.230000    3.210000    3.140000

              x13         x14         x15
count  648.000000  648.000000  648.000000
mean    -0.794846   -0.836204   -0.862793
std      1.074110    1.070627    1.066161
min     -4.000000   -4.000000   -4.000000
25%     -1.402500   -1.450000   -1.480000
50%     -0.805000   -0.850000   -0.875000
75%     -0.170000   -0.210000   -0.250000
max      3.090000    3.070000    3.070000
Goal Levels     0
x1             95
x2             27
x3             12
x4              4
x5              2
x6              1
x7              1
x8              0
x9              0
x10             0
x11             0
x12             0
x13             0
x14             0
x15             0
dtype: int64

### refer for dealing with missing data 
https://www.analyticsvidhya.com/blog/2021/05/dealing-with-missing-values-in-python-a-complete-guide/

In [25]:
newdata = data
var=data.columns[1:]
for i in var:
    newdata[i]=newdata[i].fillna(newdata[i].mean())
print(newdata.isnull().sum())

Goal Levels    0
x1             0
x2             0
x3             0
x4             0
x5             0
x6             0
x7             0
x8             0
x9             0
x10            0
x11            0
x12            0
x13            0
x14            0
x15            0
dtype: int64

In [26]:
#r1= newdata.iloc[0,1:]  #taking row 1
#print(r1)
#plt.plot(r1)

d=newdata.iloc[5,1:]  #Take any random row. Here 5th`

#print(d.values)  
#print(np.diff(d.values))  #differences between the values. x2-x1

d1= np.diff(d.values)   #Ideally all the values must be 0 or negative.
any(d1>0)

#print(d1[d1>0])    #Finding the values which needs change

True

In [27]:
pos= np.where(d1>0)  #Finding their position. o\p is an array
#pos
revpos= pos[0][::-1]  #reversing the array
revpos

array([11,  8,  7,  6], dtype=int64)

In [33]:
#Take any random rows and smooth them.

ran= np.random.randint(0,550,550)
print(ran)

empty=pd.DataFrame()

for num in ran:
    d=newdata.iloc[num,1:]
    d1= np.diff(d.values)

    while any(d1>0):
        
        d1[d1>0] 
        pos= np.where(d1>0)
        revpos= pos[0][::-1]
        for i in revpos:
            if d[i+1]<3.95 and d[i+1]>=-4:
                d[i]=d[i+1]+0.05
                
            else:
                d[i]= d[i+1]
                
        d1= np.diff(d.values)
        #print(pos)
       
    #plt.plot(d)
    empty=empty.append(d)

[ 85 482 491 367 338 150 261  65 282  28 344 103  29 310 251  54 310  95
 454 252 508 217  87 447 380 348 426 194 154 396 122 133  87 267 228 456
 170  55 142 409 246 352 133  93 455 253 452 507 342 485 481  67 414 133
  96 356 360 282 200   9  91 521  85 413 492 176 314 173 193 515 105 232
 468 431 450 317 386 146 367  21 548 493 287 290  94 316 499 373 531  38
 384 213 521 206 100 273 404 339   3 326 411 263  10 159 529 337 142  71
 404  92  52 135 200 249 380 459 210  46 306 453 274 536 537 135 241 543
 210 117 217   7 404 254 122 294 297 199 322 186 148 482 354 329 118 470
  86 433 251 302 268 420 115 422  34 138 325  47 417 174 469 319   1 390
   7 295 331 207 539 315  84 347 385 159 279 478 461 386 109 137 376 240
 329 532  91 515 215 247 490  54  72 522 195 175 451 232 265 185 293 125
 195 307 103 155 379 209 119  27 306 452 498 360 543 186 444 463 339 478
 398 271  22  42 507 398 275  10 102 440 482 276 318 505   4 251 333 343
 135  23 327  76 367  52 420 273 191 338 514 148 233 137  12 543 171 190
 341 378  60 271 251 392  87   2 151 169 199 104 216 357 346 353 180 455
 476 512 161 531 372  92 318 316 230 515 112 259 472 193  65 292 157  32
 100 475  31 336  24 299 144 480 242 246  67 377 296 337 318  60 456 304
 122 164 439 101  86  13   1 242 167 482 394 354 292 109 510 441 496 103
 442 258 135 272 420  22 409 285 162 122 458 444  17 437 134 507 258 185
   4 512 338 487 124 226 398  74 223 287  21 484 465 226 509 445 231 214
  18   0 237 373 148 176 434 431  79 328 295 118 390 250 342 134 346 288
 437 308  49 315  36 212 158 119  90 463  88 520  10 380 242  37  29 395
 263 440 301 306 271 218 309  66  39 530 249  63 406 343  60  67 324 399
 326 119 225  30 516 178 193 461 375 512 128 384 423 525 248 359 332 134
 280 128 266  22 128 281 291  19 135 252 292   7  50  76 419 413 370 204
 526 237 326  22 492 388 455 169 487 441 230 229   8 244 342 108  48 501
 455  41 388 275 170 285 190 329 197  53 377 188   6  92 356  45 434 537
  88 111 486 403 481 529 164 468 405 118 333 231 413 378 507 190 502 387
  98 250 423 289 302  13 379  97 210 251  12  54  51  27 376 331  93 461
 513 344 239 449 375 446 194 253 364 186 391 367 364 159 496 405 221 448
 364 296 415 218  13 537 131 230 252 506]