## Modified with test-wise questions and marking scheme data

Steps:
- Select a student with specific ability (Concept-wise) and cohort of the student.
- Get test with some questions and marking system.
- Get the data of questions parameters.
- Based on concept-wise ability and questions parameters find P(theta) for the questions from the test.
- Using the threshold for P(theta) for student's cohort find the correctly solved questions (prediction).
- Using the marking system find the score of selected student in given test.

Data files used:
- Ability Data: Concept wise ability_(test more than 4).csv
- 3PL parameters: Paramaeters_3pl_ba(c in 0-1)_all.csv
- Unique test ids files (Serious attempts): Unique Test Ids.xslx
- Students raw data
- Optimal Ptheat (cohort wise): Cohortwise Optimal Ptheta.xlsx
- Test-wise marking scheme data: Test wise marking scheme.xlsx

In [1]:
# Loading Packages
import pandas as pd
import numpy as np
import random
from tqdm import tqdm
import os
import warnings
warnings.filterwarnings("ignore")

In [2]:
import os
os.getcwd()

'C:\\Users\\Vineet\\Desktop\\iAnalyst jupyter\\MyPat task'

In [3]:
# Load 3PL model parameter's data
p1 = 'D:/iAnalyst/MyPat task/shared/'
bac_param = pd.read_csv(p1 + 'Paramaeters_3pl_ba(c in 0-1)_all.csv')
bac_param.columns = ['Question ID','b','a','c']
bac_param.head()

                Question ID         b         a         c
0  5c0e37947af61505b3cbc9fc  0.473189  1.044653  0.249297
1  5c0e397f7af61505b3cbca36  0.881615  1.505793  0.204460
2  5c0e3b197af61505b3cbcae7 -0.041069  0.959467  0.224513
3  5c0e3cfc7af61505b3cbcc25 -0.071553  0.950171  0.223157
4  5c0e3e887af61505b3cbcc76  0.490655  1.053462  0.250685

In [4]:
test_marks_df = pd.read_excel(p1+'Test wise marking scheme.xlsx')
test_marks_df.columns = ['Test ID', 'Question ID','PositiveMarks',
                        'NegativeMarks','PartialMarks']
test_marks_df.head()

,Test ID,Question ID,PositiveMarks,NegativeMarks,PartialMarks
0,5ace202b9fe7b01d5806ba0d,5a8ad2a8738197281fbac941,3.0,1.0,0.0
1,5ace202b9fe7b01d5806ba0d,5a8ad2a8738197281fbac943,3.0,1.0,0.0
2,5ace202b9fe7b01d5806ba0d,5a8ad2a8738197281fbac945,3.0,1.0,0.0
3,5ace202b9fe7b01d5806ba0d,5a8ad2a8738197281fbac947,3.0,1.0,0.0
4,5ace202b9fe7b01d5806ba0d,5a8ad2a8738197281fbac949,3.0,1.0,0.0

In [5]:
# Load students data with concept wise ability
ability = pd.read_csv(p1 + 'Concept wise ability_(test more than 4).csv')
ability.head()

,Mapped Master Concept,1011101700001_Top1000_Theta,1011101700004_Top500_Theta,1011211700001_Top2000_Theta,1011211700003_Top25000_Theta,1011211700004_Top15000_Theta,1011221700003_Top15000_Theta,1011221700006_Top25000_Theta,1011291700002_Top25000_Theta,1011331700001_Top10000_Theta,...,9065731600021_Top15000_Theta,9065731600035_Top50000_Theta,9065731600077_Top5000_Theta,9065731600138_Top20000_Theta,9065741590008_Top25000_Theta,9065831590001_Top20000_Theta,9065831590002_Top10000_Theta,9065831590003_Top10000_Theta,9071101590001_Top5000_Theta,9072291590001_Top20000_Theta
0,5ace203e9fe7b01d5806c0de,1.466337,1.945910,0.510826,0.000000,-4.000000,0.510826,0.000000,NaN,0.000000,...,0.000000,-4.0,1.466337,-4.0,0.0,4.000000,0.000000,4.000000,0.000000,-0.693147
1,5ace20349fe7b01d5806bdba,0.000000,1.098612,-0.693147,NaN,-0.559616,0.000000,0.000000,-4.0,-0.405465,...,NaN,NaN,0.405465,-4.0,-4.0,4.000000,NaN,0.693147,NaN,0.000000
2,5ace20399fe7b01d5806bf50,4.000000,1.386294,1.098612,0.000000,4.000000,4.000000,1.609438,NaN,-0.405465,...,-0.693147,4.0,0.000000,NaN,-4.0,-4.000000,NaN,-4.000000,-4.000000,0.832909
3,5ace203f9fe7b01d5806c145,0.693147,0.000000,2.079442,NaN,1.609438,0.000000,0.405465,4.0,0.287682,...,0.000000,-4.0,-0.405465,NaN,0.0,-4.000000,NaN,-4.000000,4.000000,0.693147
4,5ace203f9fe7b01d5806c150,-0.788457,1.152680,0.693147,1.098612,0.087011,0.510826,-0.459532,-4.0,0.693147,...,0.693147,-4.0,0.000000,-4.0,-4.0,0.693147,0.980829,4.000000,-1.098612,0.693147

In [6]:
# Unique test ids files
test_ids = pd.read_excel(p1 + 'Unique Test Ids.xlsx')
test_ids.head()

                    Test ID
0  5ace20a99fe7b01d58073902
1  5bbde060deb0c602d8fafee8
2  5c35c849f1f5e055cc0f3af3
3  5ace202c9fe7b01d5806ba9f
4  5ace20a39fe7b01d58073080

In [7]:
test_marks_df[test_marks_df['Test ID']=='5ace202c9fe7b01d5806ba9f'].shape

(54, 5)

In [8]:
# Unique test ids files
opt_ptheta = pd.read_excel(p1 + 'Cohortwise Optimal Ptheta.xlsx')
opt_ptheta.head()

   Cohort  Ptheta
0   Top10    0.65
1   Top20    0.60
2   Top50    0.57
3  Top100    0.58
4  Top200    0.59

In [9]:
def Test_score_predictor(df_param,df_test,df_ptheta,df_ability):
    c = ['Top10', 'Top20', 'Top50' ,'Top100', 'Top200', 'Top500', 'Top1000', 'Top1500', 'Top2000','Top5000' ,'Top10000', 'Top15000','Top20000','Top25000','Top50000']
    print(c,'\n')
    print('Select Cohort File From Above List...','\n')
    f = input('Cohort:')
    print('Loading Data For Selected Cohort...','\n')
    df_cohort = pd.read_csv(p1 + f + '.csv')
    df_cohort = df_cohort[df_cohort['Test ID'].isin(df_test['Test ID'])]
    print('Loading Completed...','\n')
    #print(df_cohort.head())
    
    out = pd.DataFrame(columns=['Student ID','Test ID', 'Max Marks',
                               'My Marks (Actual)','My Marks (Predicted)',
                               'Deviation','% Deviation'])
    # Lets work on each enrolment numbers in selected cohort
    for en in df_cohort['Enrolment No'].unique():
        df_en = df_cohort[df_cohort['Enrolment No']==en]
        # Proceed if total tests attempted are more than 4
        if df_en['Test ID'].nunique() > 4:
            print(df_en.shape)
            ability_en = df_ability[['Mapped Master Concept',
                                     str(en)+'_'+f+'_'+'Theta']]
            #print(ability_en.head())
            df_merge1 = pd.merge(df_en,df_param,on = 'Question ID', how = 'inner')
            df_merge2 = pd.merge(df_merge1,df_test,on = ['Test ID','Question ID'], how = 'inner')
            df_merge3 = pd.merge(df_merge2,ability_en, on = 'Mapped Master Concept',
                                how = 'inner')
            #print(df_merge3.head())
    
    df = df_merge3.copy()
            
    df['p_theta'] = df['c']+ (1-df['c'])/(1+(np.e)**(-df['a']*(df['1061921690009_Top10_Theta']-df['b'])))

    df['Predicted_Response'] = 0
    df['Actual_Marks']=0
    df['Predicted_Marks'] = 0
    for i in range(len(df)):
        if df['p_theta'][i] > df_ptheta[df_ptheta['Cohort']== f]['Ptheta'].values[0]:
            df['Predicted_Response'][i] = 1
        
        if df.iloc[i]['Response'] == 1:
            df['Actual_Marks'].iloc[i] = df.iloc[i]['PositiveMarks']
        elif df.iloc[i]['Response'] == 0:
            df['Actual_Marks'].iloc[i] =  - df.iloc[i]['NegativeMarks']
        else:
            df['Actual_Marks'].iloc[i] = df.iloc[i]['PartialMarks']
            
        if df.iloc[i]['Predicted_Response'] == 1:
            df['Predicted_Marks'].iloc[i] = df.iloc[i]['PositiveMarks']
        elif df.iloc[i]['Predicted_Response'] == 0:
            df['Predicted_Marks'].iloc[i] =  - df.iloc[i]['NegativeMarks']
        else:
            df['Predicted_Marks'].iloc[i] = df.iloc[i]['PartialMarks']

    return df

In [10]:
df = Test_score_predictor(bac_param,test_marks_df,opt_ptheta,ability)

['Top10', 'Top20', 'Top50', 'Top100', 'Top200', 'Top500', 'Top1000', 'Top1500', 'Top2000', 'Top5000', 'Top10000', 'Top15000', 'Top20000', 'Top25000', 'Top50000']

Select Cohort File From Above List...

Cohort:Top10
Loading Data For Selected Cohort...

Loading Completed...

(3518, 8)
(500, 8)
(416, 8)
(625, 8)
(1061, 8)

In [11]:
df.head()

,Enrolment No,AIR,Question ID,Mapped Master Concept,Test ID,Response,Time,cohort,b,a,c,PositiveMarks,NegativeMarks,PartialMarks,1061921690009_Top10_Theta,p_theta,Predicted_Response,Actual_Marks,Predicted_Marks
0,1061921690009,2,5cde3610d8f0346457c618f9,5ace20419fe7b01d5806c1dc,5cde807ad8f0346457c62f9b,2,459.615,Top10,0.496548,1.055505,0.250689,3.0,1.0,0.0,1.098612,0.740537,1,0.0,3.0
1,1061921690009,2,5cde5138d8f0346457c61e1c,5ace20419fe7b01d5806c1dc,5cde807ad8f0346457c62f9b,1,127.960,Top10,0.479637,1.051228,0.250501,3.0,1.0,0.0,1.098612,0.743045,1,3.0,3.0
2,1061921690009,2,5c208e182d535234640dfd39,5ace20419fe7b01d5806c1dc,5c2083382d535234640dfa93,1,56.867,Top10,0.407088,1.024912,0.247393,4.0,1.0,0.0,1.098612,0.751734,1,4.0,4.0
3,1061921690009,2,5cde3610d8f0346457c618f9,5ace203f9fe7b01d5806c128,5cde807ad8f0346457c62f9b,2,459.615,Top10,0.496548,1.055505,0.250689,3.0,1.0,0.0,0.000000,0.529352,0,0.0,-1.0
4,1061921690009,2,5c2451e02d535234640e3e66,5ace203f9fe7b01d5806c128,5c2472bb2d535234640e45ba,1,81.477,Top10,0.485072,1.048384,0.249594,4.0,1.0,0.0,0.000000,0.531398,0,4.0,-1.0

In [12]:
    c = ['Top10', 'Top20', 'Top50' ,'Top100', 'Top200', 'Top500', 'Top1000', 'Top1500', 'Top2000','Top5000' ,'Top10000', 'Top15000','Top20000','Top25000','Top50000']
    print(c,'\n')
    print('Select Cohort File From Above List...','\n')
    f = input('Cohort:')
    print('Loading Data For Selected Cohort...','\n')
    df_cohort = pd.read_csv(p1 + f + '.csv')
    df_cohort = df_cohort[df_cohort['Test ID'].isin(test_marks_df['Test ID'])]
    print('Loading Completed...','\n')
    #print(df_cohort.head())
    print('Select Enrollment No. \n')
    en = eval(input(np.random.choice(df_cohort['Enrolment No'].unique(),5)))
    df_en = df_cohort[df_cohort['Enrolment No'] == en]
    print('Loading Completed...','\n')
    print('Select Test ID \n')
    tid = input(np.random.choice(df_en['Test ID'].unique(),5))
    df_en[df_en['Test ID'] == tid]
    print('Loading Completed...','\n')
    df_en.head()

['Top10', 'Top20', 'Top50', 'Top100', 'Top200', 'Top500', 'Top1000', 'Top1500', 'Top2000', 'Top5000', 'Top10000', 'Top15000', 'Top20000', 'Top25000', 'Top50000']

Select Cohort File From Above List...

Cohort:33
Loading Data For Selected Cohort...

FileNotFoundError: [Errno 2] No such file or directory: 'D:/iAnalyst/MyPat task/shared/33.csv'

In [ ]:
def Test_score_predictor(df_param,df_test,df_ptheta,df_ability):
    c = ['Top10', 'Top20', 'Top50' ,'Top100', 'Top200', 'Top500', 'Top1000', 'Top1500', 'Top2000','Top5000' ,'Top10000', 'Top15000','Top20000','Top25000','Top50000']
    print(c,'\n')
    print('Select Cohort File From Above List...','\n')
    f = input('Cohort:')
    print('Loading Data For Selected Cohort...','\n')
    df_cohort = pd.read_csv(p1 + f + '.csv')
    df_cohort = df_cohort[df_cohort['Test ID'].isin(df_test['Test ID'])]
    print('Loading Completed...','\n')
    #print(df_cohort.head())
    
    out = pd.DataFrame(columns=['Student ID','Test ID', 'Max Marks',
                               'My Marks (Actual)','My Marks (Predicted)',
                               'Deviation','% Deviation'])
    # Lets work on each enrolment numbers in selected cohort
    for en in df_cohort['Enrolment No'].unique():
        df_en = df_cohort[df_cohort['Enrolment No']==en]
        # Proceed if total tests attempted are more than 4
        if df_en['Test ID'].nunique() > 4:
            print(df_en.shape)
            ability_en = df_ability[['Mapped Master Concept',
                                     str(en)+'_'+f+'_'+'Theta']]
            #print(ability_en.head())
            df_merge1 = pd.merge(df_en,df_param,on = 'Question ID', how = 'inner')
            df_merge2 = pd.merge(df_merge1,df_test,on = ['Test ID','Question ID'], how = 'inner')
            df_merge3 = pd.merge(df_merge2,ability_en, on = 'Mapped Master Concept',
                                how = 'inner')
            #print(df_merge3.head())
    
    df = df_merge3.copy()
            
    df['pred_marks'] = df['c']+ (1-df['c'])/(1+(np.e)**(-df['a']*(df['1061921690009_Top10_Theta']-df['b'])))

    df['Predicted_Response'] = 0
    df['Actual_Marks']=0 
    for i in range(len(df)):
        if df['pred_marks'][i] > df_ptheta[df_ptheta['Cohort']== f]['Ptheta'].values[0]:
            df['Predicted_Response'][i] = 1
        
        if df.iloc[i]['Response'] == 1:
            df['Actual_Marks'].iloc[i] = df.iloc[i]['PositiveMarks']
        elif df.iloc[i]['Response'] == 0:
            df['Actual_Marks'].iloc[i] =  - df.iloc[i]['NegativeMarks']
        else:
            df['Actual_Marks'].iloc[i] = df.iloc[i]['PartialMarks']

    return df