## Modified with test-wise questions and marking scheme data

Steps:
- Select a student with specific ability (Concept-wise) and cohort of the student.
- Get test with some questions and marking system.
- Get the data of questions parameters.
- Based on concept-wise ability and questions parameters find P(theta) for the questions from the test.
- Using the threshold for P(theta) for student's cohort find the correctly solved questions (prediction).
- Using the marking system find the score of selected student in given test.

Data files used:
- Ability Data: Concept wise ability_(test more than 4).csv
- 3PL parameters: Paramaeters_3pl_ba(c in 0-1)_all.csv
- Unique test ids files (Serious attempts): Unique Test Ids.xslx
- Students raw data
- Optimal Ptheat (cohort wise): Cohortwise Optimal Ptheta.xlsx
- Test-wise marking scheme data: Test wise marking scheme.xlsx

In [1]:
# Loading Packages
import pandas as pd
import numpy as np
from tqdm import tqdm
import os
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Load 3PL model parameter's data
p1 = 'D:/iAnalyst/MyPat task/shared/'
bac_param = pd.read_csv(p1 + 'Paramaeters_3pl_ba(c in 0-1)_all.csv')
bac_param.columns = ['Question ID','b','a','c']
bac_param.head()

                Question ID         b         a         c
0  5c0e37947af61505b3cbc9fc  0.473189  1.044653  0.249297
1  5c0e397f7af61505b3cbca36  0.881615  1.505793  0.204460
2  5c0e3b197af61505b3cbcae7 -0.041069  0.959467  0.224513
3  5c0e3cfc7af61505b3cbcc25 -0.071553  0.950171  0.223157
4  5c0e3e887af61505b3cbcc76  0.490655  1.053462  0.250685

In [3]:
test_marks_df = pd.read_excel(p1+'Test wise marking scheme.xlsx')
test_marks_df.columns = ['Test ID', 'Question ID','PositiveMarks',
                        'NegativeMarks','PartialMarks']
test_marks_df.head()

,Test ID,Question ID,PositiveMarks,NegativeMarks,PartialMarks
0,5ace202b9fe7b01d5806ba0d,5a8ad2a8738197281fbac941,3.0,1.0,0.0
1,5ace202b9fe7b01d5806ba0d,5a8ad2a8738197281fbac943,3.0,1.0,0.0
2,5ace202b9fe7b01d5806ba0d,5a8ad2a8738197281fbac945,3.0,1.0,0.0
3,5ace202b9fe7b01d5806ba0d,5a8ad2a8738197281fbac947,3.0,1.0,0.0
4,5ace202b9fe7b01d5806ba0d,5a8ad2a8738197281fbac949,3.0,1.0,0.0

In [4]:
# Load students data with concept wise ability
ability = pd.read_csv(p1 + 'Concept wise ability_(test more than 4).csv')
ability.head()

,Mapped Master Concept,1011101700001_Top1000_Theta,1011101700004_Top500_Theta,1011211700001_Top2000_Theta,1011211700003_Top25000_Theta,1011211700004_Top15000_Theta,1011221700003_Top15000_Theta,1011221700006_Top25000_Theta,1011291700002_Top25000_Theta,1011331700001_Top10000_Theta,...,9065731600021_Top15000_Theta,9065731600035_Top50000_Theta,9065731600077_Top5000_Theta,9065731600138_Top20000_Theta,9065741590008_Top25000_Theta,9065831590001_Top20000_Theta,9065831590002_Top10000_Theta,9065831590003_Top10000_Theta,9071101590001_Top5000_Theta,9072291590001_Top20000_Theta
0,5ace203e9fe7b01d5806c0de,1.466337,1.945910,0.510826,0.000000,-4.000000,0.510826,0.000000,NaN,0.000000,...,0.000000,-4.0,1.466337,-4.0,0.0,4.000000,0.000000,4.000000,0.000000,-0.693147
1,5ace20349fe7b01d5806bdba,0.000000,1.098612,-0.693147,NaN,-0.559616,0.000000,0.000000,-4.0,-0.405465,...,NaN,NaN,0.405465,-4.0,-4.0,4.000000,NaN,0.693147,NaN,0.000000
2,5ace20399fe7b01d5806bf50,4.000000,1.386294,1.098612,0.000000,4.000000,4.000000,1.609438,NaN,-0.405465,...,-0.693147,4.0,0.000000,NaN,-4.0,-4.000000,NaN,-4.000000,-4.000000,0.832909
3,5ace203f9fe7b01d5806c145,0.693147,0.000000,2.079442,NaN,1.609438,0.000000,0.405465,4.0,0.287682,...,0.000000,-4.0,-0.405465,NaN,0.0,-4.000000,NaN,-4.000000,4.000000,0.693147
4,5ace203f9fe7b01d5806c150,-0.788457,1.152680,0.693147,1.098612,0.087011,0.510826,-0.459532,-4.0,0.693147,...,0.693147,-4.0,0.000000,-4.0,-4.0,0.693147,0.980829,4.000000,-1.098612,0.693147

In [5]:
# Unique test ids files
test_ids = pd.read_excel(p1 + 'Unique Test Ids.xlsx')
test_ids.head()

                    Test ID
0  5ace20a99fe7b01d58073902
1  5bbde060deb0c602d8fafee8
2  5c35c849f1f5e055cc0f3af3
3  5ace202c9fe7b01d5806ba9f
4  5ace20a39fe7b01d58073080

In [6]:
test_marks_df[test_marks_df['Test ID']=='5ace202c9fe7b01d5806ba9f'].shape

(54, 5)

In [63]:
# Unique test ids files
opt_ptheta = pd.read_excel(p1 + 'Cohortwise Optimal Ptheta.xlsx')
opt_ptheta.head()

   Cohort  Ptheta
0   Top10    0.65
1   Top20    0.60
2   Top50    0.57
3  Top100    0.58
4  Top200    0.59

In [19]:
def Test_score_predictor(df_param,df_test,df_ptheta,df_ability):
    c = ['Top10', 'Top20', 'Top50' ,'Top100', 'Top200', 'Top500', 'Top1000', 'Top1500', 'Top2000','Top5000' ,'Top10000', 'Top15000','Top20000','Top25000','Top50000']
    print(c,'\n')
    print('Select Cohort File From Above List...','\n')
    f = input('Cohort:')
    print('Loading Data For Selected Cohort...','\n')
    df_cohort = pd.read_csv(p1 + f + '.csv')
    df_cohort = df_cohort[df_cohort['Test ID'].isin(df_test['Test ID'])]
    print('Loading Completed...','\n')
    print(df_cohort.head())
    
    out = pd.DataFrame(columns=['Student ID','Test ID', 'Max Marks',
                               'My Marks (Actual)','My Marks (Predicted)',
                               'Deviation','% Deviation'])
    # Lets work on each enrolment numbers in selected cohort
    for en in df_cohort['Enrolment No'].unique():
        df_en = df_cohort[df_cohort['Enrolment No']==en]
        # Proceed if total tests attempted are more than 4
        if df_en['Test ID'].nunique() > 4:
            print(df_en.shape)
            ability_en = df_ability[['Mapped Master Concept',
                                     str(en)+'_'+f+'_'+'Theta']]
            #print(ability_en.head())
            df_merge1 = pd.merge(df_en,df_param,on = 'Question ID', how = 'inner')
            df_merge2 = pd.merge(df_merge1,df_test,on = ['Test ID','Question ID'], how = 'inner')
            df_merge3 = pd.merge(df_merge2,ability_en, on = 'Mapped Master Concept',
                                how = 'inner')
            print(df_merge3.head())
    return df_merge3

In [22]:
df= Test_score_predictor(bac_param,test_marks_df,opt_ptheta,ability)

['Top10', 'Top20', 'Top50', 'Top100', 'Top200', 'Top500', 'Top1000', 'Top1500', 'Top2000', 'Top5000', 'Top10000', 'Top15000', 'Top20000', 'Top25000', 'Top50000']

Select Cohort File From Above List...

Cohort:Top10
Loading Data For Selected Cohort...

Loading Completed...

    Enrolment No  AIR               Question ID     Mapped Master Concept  \
0  9062181600080    5  5bb59ce843750164ad7c9dcf  5ace20399fe7b01d5806bf5a
1  9062181600080    5  5bb59ddf43750164ad7c9de6  5ace20399fe7b01d5806bf5a
2  9062181600080    5  5bb59e3443750164ad7c9df0  5ace20399fe7b01d5806bf5a
3  9062181600080    5  5bb59f2743750164ad7c9e1e  5ace20399fe7b01d5806bf5a
4  9062181600080    5  5bb59f7843750164ad7c9e33  5ace20399fe7b01d5806bf5a

                    Test ID  Response     Time cohort
0  5bb5ad1043750164ad7ca12c         0  297.053  Top10
1  5bb5ad1043750164ad7ca12c         1   39.152  Top10
2  5bb5ad1043750164ad7ca12c         1   48.641  Top10
3  5bb5ad1043750164ad7ca12c         1  160.302  Top10
4  5bb5ad1043750164ad7ca12c         0  226.225  Top10
(3518, 8)
    Enrolment No  AIR               Question ID     Mapped Master Concept  \
0  9062181600080    5  5bb59ce843750164ad7c9dcf  5ace20399fe7b01d5806bf5a
1  9062181600080    5  5bb59ddf43750164ad7c9de6  5ace20399fe7b01d5806bf5a
2  9062181600080    5  5bb59e3443750164ad7c9df0  5ace20399fe7b01d5806bf5a
3  9062181600080    5  5bb59f2743750164ad7c9e1e  5ace20399fe7b01d5806bf5a
4  9062181600080    5  5bb59f7843750164ad7c9e33  5ace20399fe7b01d5806bf5a

                    Test ID  Response     Time cohort         b         a  \
0  5bb5ad1043750164ad7ca12c         0  297.053  Top10  0.340749  1.007254
1  5bb5ad1043750164ad7ca12c         1   39.152  Top10 -0.084353  0.949340
2  5bb5ad1043750164ad7ca12c         1   48.641  Top10  0.159913  0.972269
3  5bb5ad1043750164ad7ca12c         1  160.302  Top10  0.482941  1.051797
4  5bb5ad1043750164ad7ca12c         0  226.225  Top10  0.346118  1.008592

          c  PositiveMarks  NegativeMarks  PartialMarks  \
0  0.245062            3.0            1.0           0.0
1  0.222305            3.0            1.0           0.0
2  0.236793            3.0            1.0           0.0
3  0.250630            3.0            1.0           0.0
4  0.245266            3.0            1.0           0.0

   9062181600080_Top10_Theta
0                   1.814488
1                   1.814488
2                   1.814488
3                   1.814488
4                   1.814488
(500, 8)
    Enrolment No  AIR               Question ID     Mapped Master Concept  \
0  1062121700042    9  5f5f5a79863d076508899019  5ace203f9fe7b01d5806c132
1  1062121700042    9  5f5f5a7c82532750fe3297d4  5ace203f9fe7b01d5806c132
2  1062121700042    9  5f5f5a7f62e98f650db1e953  5ace203f9fe7b01d5806c132
3  1062121700042    9  5f5f5a8162e98f650db1e956  5ace203f9fe7b01d5806c132
4  1062121700042    9  5f5f5a85e97a4b5104dec5aa  5ace203f9fe7b01d5806c132

                    Test ID  Response     Time cohort         b         a  \
0  5f61c36082532750fe33f0d4         1  178.050  Top10  0.527572  1.025301
1  5f61c36082532750fe33f0d4         1  145.098  Top10 -0.149076  0.945511
2  5f61c36082532750fe33f0d4         1  271.542  Top10  0.004007  0.955627
3  5f61c36082532750fe33f0d4         1  158.824  Top10  0.233858  0.984217
4  5f61c36082532750fe33f0d4         1   85.594  Top10  0.048974  0.984704

          c  PositiveMarks  NegativeMarks  PartialMarks  \
0  0.249991            4.0            1.0           1.0
1  0.217234            4.0            1.0           1.0
2  0.227936            4.0            1.0           1.0
3  0.240481            4.0            1.0           1.0
4  0.230283            4.0            1.0           1.0

   1062121700042_Top10_Theta
0                   2.226424
1                   2.226424
2                   2.226424
3                   2.226424
4                   2.226424
(416, 8)
    Enrolment No  AIR               Question ID     Mapped Master Concept  \
0  9062711600010    3  5ed0955839b68829c897e2f6  5ace20409fe7b01d5806c184
1  9062711600010    3  5f5f5a79863d076508899019  5ace203f9fe7b01d5806c132
2  9062711600010    3  5f5f5a7c82532750fe3297d4  5ace203f9fe7b01d5806c132
3  9062711600010    3  5f5f5a7f62e98f650db1e953  5ace203f9fe7b01d5806c132
4  9062711600010    3  5f5f5a8162e98f650db1e956  5ace203f9fe7b01d5806c132

                    Test ID  Response     Time cohort         b         a  \
0  5eca40a9e6bb0d45ac8cca1e         0   89.842  Top10  0.680318  1.016122
1  5f61c36082532750fe33f0d4         1  274.002  Top10  0.527572  1.025301
2  5f61c36082532750fe33f0d4         1   80.647  Top10 -0.149076  0.945511
3  5f61c36082532750fe33f0d4         1  156.054  Top10  0.004007  0.955627
4  5f61c36082532750fe33f0d4         1  171.307  Top10  0.233858  0.984217

          c  PositiveMarks  NegativeMarks  PartialMarks  \
0  0.249979            4.0            1.0           0.0
1  0.249991            4.0            1.0           1.0
2  0.217234            4.0            1.0           1.0
3  0.227936            4.0            1.0           1.0
4  0.240481            4.0            1.0           1.0

   9062711600010_Top10_Theta
0                  -4.000000
1                   2.639057
2                   2.639057
3                   2.639057
4                   2.639057
(625, 8)
    Enrolment No  AIR               Question ID     Mapped Master Concept  \
0  9062111590013    3  5cdba12cb55d5017f89f1122  5ace203e9fe7b01d5806c113
1  9062111590013    3  5c2c7dbb2d535234640ead7c  5ace203f9fe7b01d5806c132
2  9062111590013    3  5c2edfc12d535234640ee078  5ace203f9fe7b01d5806c132
3  9062111590013    3  5c2ee89d2d535234640ee20a  5ace203f9fe7b01d5806c132
4  9062111590013    3  5c25fc112d535234640e6dec  5ace203f9fe7b01d5806c132

                    Test ID  Response     Time cohort         b         a  \
0  5cdcf2227241f56debb428c4         1  237.571  Top10  0.541262  1.025900
1  5c2c83042d535234640eaf97         1   50.256  Top10  0.506865  1.055342
2  5c2f26b42d535234640eede2         1   43.734  Top10  0.514824  1.059838
3  5c2f26b42d535234640eede2         1  403.321  Top10  0.495592  1.051971
4  5c2995292d535234640e8681         1   22.314  Top10  0.456572  1.039519

          c  PositiveMarks  NegativeMarks  PartialMarks  \
0  0.249997            3.0            1.0           0.0
1  0.250104            4.0            1.0           0.0
2  0.250716            4.0            1.0           0.0
3  0.250622            4.0            1.0           0.0
4  0.248858            4.0            1.0           0.0

   9062111590013_Top10_Theta
0                        4.0
1                        4.0
2                        4.0
3                        4.0
4                        4.0
(1061, 8)
    Enrolment No  AIR               Question ID     Mapped Master Concept  \
0  1061921690009    2  5cde3610d8f0346457c618f9  5ace20419fe7b01d5806c1dc
1  1061921690009    2  5cde5138d8f0346457c61e1c  5ace20419fe7b01d5806c1dc
2  1061921690009    2  5c208e182d535234640dfd39  5ace20419fe7b01d5806c1dc
3  1061921690009    2  5cde3610d8f0346457c618f9  5ace203f9fe7b01d5806c128
4  1061921690009    2  5c2451e02d535234640e3e66  5ace203f9fe7b01d5806c128

                    Test ID  Response     Time cohort         b         a  \
0  5cde807ad8f0346457c62f9b         2  459.615  Top10  0.496548  1.055505
1  5cde807ad8f0346457c62f9b         1  127.960  Top10  0.479637  1.051228
2  5c2083382d535234640dfa93         1   56.867  Top10  0.407088  1.024912
3  5cde807ad8f0346457c62f9b         2  459.615  Top10  0.496548  1.055505
4  5c2472bb2d535234640e45ba         1   81.477  Top10  0.485072  1.048384

          c  PositiveMarks  NegativeMarks  PartialMarks  \
0  0.250689            3.0            1.0           0.0
1  0.250501            3.0            1.0           0.0
2  0.247393            4.0            1.0           0.0
3  0.250689            3.0            1.0           0.0
4  0.249594            4.0            1.0           0.0

   1061921690009_Top10_Theta
0                   1.098612
1                   1.098612
2                   1.098612
3                   0.000000
4                   0.000000

In [13]:
df_10 = pd.read_csv(p1 + 'Top10' + '.csv')
df_10.head()

,Enrolment No,AIR,Question ID,Mapped Master Concept,Test ID,Response,Time,cohort
0,9062181600080,5,5bb59ce843750164ad7c9dcf,5ace20399fe7b01d5806bf5a,5bb5ad1043750164ad7ca12c,0,297.053,Top10
1,9062181600080,5,5bb59ddf43750164ad7c9de6,5ace20399fe7b01d5806bf5a,5bb5ad1043750164ad7ca12c,1,39.152,Top10
2,9062181600080,5,5bb59e3443750164ad7c9df0,5ace20399fe7b01d5806bf5a,5bb5ad1043750164ad7ca12c,1,48.641,Top10
3,9062181600080,5,5bb59f2743750164ad7c9e1e,5ace20399fe7b01d5806bf5a,5bb5ad1043750164ad7ca12c,1,160.302,Top10
4,9062181600080,5,5bb59f7843750164ad7c9e33,5ace20399fe7b01d5806bf5a,5bb5ad1043750164ad7ca12c,0,226.225,Top10

In [18]:
df_10['Enrolment No'].nunique()

5

In [16]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
#Formula of IRT #3PL : https://en.wikipedia.org/wiki/Item_response_theory#:~:text=(The%20expression%20%E2%80%9Ca%20mathematical%20function,the%20person%20in%20their%20environment.)&text=In%20the%20same%20manner%2C%20IRT,behaviour%20in%20online%20social%20networks.

df['P_theta'] = df['c']+ (1-df['c'])/(1+(np.e)**(-df['a']* (df['1061921690009_Top10_Theta'] - df['b'])))
#df

,Enrolment No,AIR,Question ID,Mapped Master Concept,Test ID,Response,Time,cohort,b,a,c,PositiveMarks,NegativeMarks,PartialMarks,1061921690009_Top10_Theta,P_theta
0,1061921690009,2,5cde3610d8f0346457c618f9,5ace20419fe7b01d5806c1dc,5cde807ad8f0346457c62f9b,2,459.615,Top10,0.496548,1.055505,0.250689,3.0,1.0,0.0,1.098612,0.740537
1,1061921690009,2,5cde5138d8f0346457c61e1c,5ace20419fe7b01d5806c1dc,5cde807ad8f0346457c62f9b,1,127.960,Top10,0.479637,1.051228,0.250501,3.0,1.0,0.0,1.098612,0.743045
2,1061921690009,2,5c208e182d535234640dfd39,5ace20419fe7b01d5806c1dc,5c2083382d535234640dfa93,1,56.867,Top10,0.407088,1.024912,0.247393,4.0,1.0,0.0,1.098612,0.751734
3,1061921690009,2,5cde3610d8f0346457c618f9,5ace203f9fe7b01d5806c128,5cde807ad8f0346457c62f9b,2,459.615,Top10,0.496548,1.055505,0.250689,3.0,1.0,0.0,0.000000,0.529352
4,1061921690009,2,5c2451e02d535234640e3e66,5ace203f9fe7b01d5806c128,5c2472bb2d535234640e45ba,1,81.477,Top10,0.485072,1.048384,0.249594,4.0,1.0,0.0,0.000000,0.531398
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,1061921690009,2,5c208aa62d535234640dfc2a,5ace20369fe7b01d5806be7a,5c2083382d535234640dfa93,1,12.116,Top10,0.388105,1.019618,0.246769,4.0,1.0,0.0,4.000000,0.981518
600,1061921690009,2,5c271b352d535234640e7dd6,5ace203d9fe7b01d5806c094,5c2995292d535234640e8681,1,24.993,Top10,0.513416,1.057459,0.250248,4.0,1.0,0.0,4.000000,0.981678
601,1061921690009,2,5c208ab72d535234640dfc42,5ace20349fe7b01d5806bdb4,5c2083382d535234640dfa93,1,47.595,Top10,0.505754,1.053767,0.250664,4.0,1.0,0.0,4.000000,0.981603
602,1061921690009,2,5c271cbd2d535234640e7e20,5ace203d9fe7b01d5806c08b,5c2995292d535234640e8681,1,75.350,Top10,0.496548,1.055505,0.250689,4.0,1.0,0.0,4.000000,0.981884
603,1061921690009,2,5c2473032d535234640e45ce,5ace203a9fe7b01d5806bfc0,5c2472bb2d535234640e45ba,1,104.875,Top10,0.507737,1.054116,0.250672,4.0,1.0,0.0,0.693147,0.661833

In [68]:
#opt_ptheta[opt_ptheta['Cohort']=='Top10'].Ptheta.values[0]

0.65

In [70]:
df["Predicted Responses"] = 0
for i in range(len(df['P_theta'])):
    if df['P_theta'][i] > opt_ptheta[opt_ptheta['Cohort']=='Top10'].Ptheta.values[0]:  #put 1 when 
        
        df['Predicted Responses'][i]= 1
        i=i+1
df

,Enrolment No,AIR,Question ID,Mapped Master Concept,Test ID,Response,Time,cohort,b,a,c,PositiveMarks,NegativeMarks,PartialMarks,1061921690009_Top10_Theta,P_theta,Predicted Responses
0,1061921690009,2,5cde3610d8f0346457c618f9,5ace20419fe7b01d5806c1dc,5cde807ad8f0346457c62f9b,2,459.615,Top10,0.496548,1.055505,0.250689,3.0,1.0,0.0,1.098612,0.740537,1
1,1061921690009,2,5cde5138d8f0346457c61e1c,5ace20419fe7b01d5806c1dc,5cde807ad8f0346457c62f9b,1,127.960,Top10,0.479637,1.051228,0.250501,3.0,1.0,0.0,1.098612,0.743045,1
2,1061921690009,2,5c208e182d535234640dfd39,5ace20419fe7b01d5806c1dc,5c2083382d535234640dfa93,1,56.867,Top10,0.407088,1.024912,0.247393,4.0,1.0,0.0,1.098612,0.751734,1
3,1061921690009,2,5cde3610d8f0346457c618f9,5ace203f9fe7b01d5806c128,5cde807ad8f0346457c62f9b,2,459.615,Top10,0.496548,1.055505,0.250689,3.0,1.0,0.0,0.000000,0.529352,0
4,1061921690009,2,5c2451e02d535234640e3e66,5ace203f9fe7b01d5806c128,5c2472bb2d535234640e45ba,1,81.477,Top10,0.485072,1.048384,0.249594,4.0,1.0,0.0,0.000000,0.531398,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,1061921690009,2,5c208aa62d535234640dfc2a,5ace20369fe7b01d5806be7a,5c2083382d535234640dfa93,1,12.116,Top10,0.388105,1.019618,0.246769,4.0,1.0,0.0,4.000000,0.981518,1
600,1061921690009,2,5c271b352d535234640e7dd6,5ace203d9fe7b01d5806c094,5c2995292d535234640e8681,1,24.993,Top10,0.513416,1.057459,0.250248,4.0,1.0,0.0,4.000000,0.981678,1
601,1061921690009,2,5c208ab72d535234640dfc42,5ace20349fe7b01d5806bdb4,5c2083382d535234640dfa93,1,47.595,Top10,0.505754,1.053767,0.250664,4.0,1.0,0.0,4.000000,0.981603,1
602,1061921690009,2,5c271cbd2d535234640e7e20,5ace203d9fe7b01d5806c08b,5c2995292d535234640e8681,1,75.350,Top10,0.496548,1.055505,0.250689,4.0,1.0,0.0,4.000000,0.981884,1
603,1061921690009,2,5c2473032d535234640e45ce,5ace203a9fe7b01d5806bfc0,5c2472bb2d535234640e45ba,1,104.875,Top10,0.507737,1.054116,0.250672,4.0,1.0,0.0,0.693147,0.661833,1

In [86]:
df[["Response","Predicted Responses"]]

     Response  Predicted Responses
0           2                    1
1           1                    1
2           1                    1
3           2                    0
4           1                    0
..        ...                  ...
599         1                    1
600         1                    1
601         1                    1
602         1                    1
603         1                    1

[604 rows x 2 columns]

In [16]:
#[j for j in range(25) if j%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [39]:
ability.columns[5].split('_')[0]

'1011211700004'

In [58]:
enrl = list(map(lambda sub: sub.split('_')[0], ability.columns[1:]))
cohort_en = list(map(lambda sub: sub.split('_')[1], ability.columns[1:]))
dct={'Enrolment No': enrl,'Cohort':cohort_en}
df_en_cohort = pd.DataFrame(dct)
df_en_cohort

       Enrolment No     Cohort
0     1011101700001   Top 1000
1     1011101700004    Top 500
2     1011211700001   Top 2000
3     1011211700003  Top 25000
4     1011211700004  Top 15000
...             ...        ...
7628  9065831590001  Top 20000
7629  9065831590002  Top 10000
7630  9065831590003  Top 10000
7631  9071101590001   Top 5000
7632  9072291590001  Top 20000

[7633 rows x 2 columns]

['1011101700001',
 '1011101700004',
 '1011211700001',
 '1011211700003',
 '1011211700004',
 '1011221700003',
 '1011221700006',
 '1011291700002',
 '1011331700001',
 '1011401700001',
 '1011401700006',
 '1011401700011',
 '1011401700012',
 '1011421700004',
 '1011421700008',
 '1011421700014',
 '1011441700003',
 '1011451700001',
 '1011451700002',
 '1011451700004',
 '1011471700001',
 '1011471700002',
 '1011471700004',
 '1011471700006',
 '1011471700008',
 '1011471700010',
 '1011471700011',
 '1011471700019',
 '1011471700024',
 '1011471700026',
 '1011481700003',
 '1011481700006',
 '1011481700012',
 '1011481700013',
 '1011481700014',
 '1011521700003',
 '1011541690001',
 '1011541690008',
 '1011541690010',
 '1011541690011',
 '1011541690012',
 '1011541690015',
 '1011541700003',
 '1011541700004',
 '1011541700016',
 '1011641580001',
 '1011921700002',
 '1012101700002',
 '1012121700002',
 '1012201700002',
 '1012201700003',
 '1012511690002',
 '1012511690003',
 '1012511690005',
 '1012511700001',
 '1012511700003',
 '1012511700004',
 '1012511700007',
 '1012511700010',
 '1012511700021',
 '1012511700025',
 '1012511700033',
 '1012511700035',
 '1012511700044',
 '1012511700045',
 '1012531690003',
 '1012531690010',
 '1012531690011',
 '1012531700003',
 '1012531700015',
 '1012531700025',
 '1012531700035',
 '1012581700005',
 '1012581700010',
 '1012581700013',
 '1012611580006',
 '1012611580009',
 '1012621580001',
 '1014501560114',
 '1014501670176',
 '1014501670197',
 '1014501670275',
 '1014501670314',
 '1014501780023',
 '1014501780034',
 '1014501780035',
 '1014501780040',
 '1014501780071',
 '1014501780072',
 '1014501780075',
 '1014501780085',
 '1014501780087',
 '1014501780088',
 '1014501780097',
 '1014501780144',
 '1014501780150',
 '1014501780157',
 '1014501780184',
 '1014501780251',
 '1014501780269',
 '1014501780273',
 '1014501780296',
 '1014501780302',
 '1014501780321',
 '1014501780364',
 '1014501780374',
 '1061061580001',
 '1061061690004',
 '1061061700006',
 '1061061700007',
 '1061061700010',
 '1061061700014',
 '1061061700015',
 '1061101580019',
 '1061101690025',
 '1061101690036',
 '1061101700002',
 '1061101700009',
 '1061101700012',
 '1061101700015',
 '1061101700016',
 '1061101700018',
 '1061101700019',
 '1061101700035',
 '1061111690021',
 '1061111690023',
 '1061111700002',
 '1061111700018',
 '1061111700025',
 '1061121690003',
 '1061121690005',
 '1061121690010',
 '1061121690011',
 '1061121690012',
 '1061121690013',
 '1061121690022',
 '1061121700011',
 '1061121700014',
 '1061121700018',
 '1061121700019',
 '1061131580008',
 '1061131690003',
 '1061131690005',
 '1061131690008',
 '1061131700006',
 '1061161700012',
 '1061161700014',
 '1061171580006',
 '1061171580014',
 '1061181690018',
 '1061181690019',
 '1061181690023',
 '1061181690025',
 '1061181690030',
 '1061181700002',
 '1061181700004',
 '1061181700008',
 '1061181700020',
 '1061181700027',
 '1061191580020',
 '1061191580030',
 '1061191580032',
 '1061191690001',
 '1061191690005',
 '1061191700001',
 '1061191700002',
 '1061191700007',
 '1061211580007',
 '1061211690002',
 '1061211690005',
 '1061211690015',
 '1061211690016',
 '1061211700006',
 '1061211700007',
 '1061211700012',
 '1061211700020',
 '1061221690008',
 '1061231690002',
 '1061231690005',
 '1061231700001',
 '1061231700004',
 '1061231700016',
 '1061231700021',
 '1061231700033',
 '1061231700035',
 '1061231700042',
 '1061241690008',
 '1061241690014',
 '1061241690024',
 '1061241690026',
 '1061241700005',
 '1061241700019',
 '1061271580018',
 '1061271690010',
 '1061271690013',
 '1061271690014',
 '1061271690016',
 '1061271690022',
 '1061271700002',
 '1061271700004',
 '1061271700008',
 '1061271700011',
 '1061271700014',
 '1061271700017',
 '1061271700021',
 '1061271700026',
 '1061271700029',
 '1061271700040',
 '1061271700041',
 '1061271700042',
 '1061271700048',
 '1061331690001',
 '1061331690002',
 '1061331690003',
 '1061331690011',
 '1061331690012',
 '1061331700002',
 '1061331700005',
 '1061331700007',
 '1061331700010',
 '1061331700016',
 '1061331700018',
 '1061331700033',
 '1061331700034',
 '1061461690003',
 '1061461690005',
 '1061461690006',
 '1061461690015',
 '1061461700002',
 '1061461700003',
 '1061461700006',
 '1061461700007',
 '1061461700013',
 '1061461700026',
 '1061461700027',
 '1061471580006',
 '1061471580028',
 '1061471580042',
 '1061471580057',
 '1061471690001',
 '1061471690003',
 '1061471690005',
 '1061471690007',
 '1061471690012',
 '1061471690014',
 '1061471690015',
 '1061471690018',
 '1061471690019',
 '1061471690026',
 '1061471690034',
 '1061471690038',
 '1061471690041',
 '1061471690050',
 '1061471700003',
 '1061471700005',
 '1061471700006',
 '1061471700009',
 '1061471700011',
 '1061471700012',
 '1061471700014',
 '1061471700020',
 '1061471700023',
 '1061471700024',
 '1061471700027',
 '1061471700031',
 '1061471700032',
 '1061471700048',
 '1061471700051',
 '1061471700054',
 '1061471700069',
 '1061471700082',
 '1061471700088',
 '1061481580034',
 '1061481690001',
 '1061481690005',
 '1061481690016',
 '1061481690017',
 '1061481690020',
 '1061481700001',
 '1061481700002',
 '1061481700003',
 '1061481700004',
 '1061481700010',
 '1061481700014',
 '1061481700016',
 '1061481700017',
 '1061481700019',
 '1061481700025',
 '1061551580020',
 '1061551690003',
 '1061551690004',
 '1061551690006',
 '1061551690029',
 '1061551690031',
 '1061551700001',
 '1061551700022',
 '1061551700028',
 '1061611690009',
 '1061611700003',
 '1061611700011',
 '1061621690004',
 '1061621690005',
 '1061651690001',
 '1061651690004',
 '1061651690005',
 '1061651700006',
 '1061651700007',
 '1061691690008',
 '1061691690016',
 '1061711700004',
 '1061711700010',
 '1061711700016',
 '1061721700002',
 '1061741690001',
 '1061741690008',
 '1061741700005',
 '1061741700008',
 '1061741700010',
 '1061741700012',
 '1061741700015',
 '1061741700020',
 '1061741700036',
 '1061811690005',
 '1061811690008',
 '1061811690012',
 '1061811690027',
 '1061811690028',
 '1061811690034',
 '1061811690035',
 '1061811690038',
 '1061811690039',
 '1061811690047',
 '1061811690048',
 '1061811690055',
 '1061811690091',
 '1061811690092',
 '1061811690098',
 '1061811700002',
 '1061811700003',
 '1061811700007',
 '1061811700018',
 '1061811700026',
 '1061811700029',
 '1061811700032',
 '1061811700035',
 '1061811700049',
 '1061811700069',
 '1061811700076',
 '1061811700077',
 '1061811700085',
 '1061811700089',
 '1061811700091',
 '1061811700102',
 '1061811700106',
 '1061811700125',
 '1061811700126',
 '1061821690002',
 '1061821690020',
 '1061821690023',
 '1061821690047',
 '1061821700001',
 '1061821700002',
 '1061821700004',
 '1061821700006',
 '1061821700017',
 '1061821700021',
 '1061821700024',
 '1061821700028',
 '1061821700039',
 '1061821700049',
 '1061821700050',
 '1061821700054',
 '1061821700061',
 '1061821700064',
 '1061821700070',
 '1061821700073',
 '1061921690005',
 '1061921690007',
 '1061921690008',
 '1061921690009',
 '1061921690013',
 '1061921690015',
 '1061921690020',
 '1061921700013',
 '1061931580012',
 '1061931690010',
 '1061931690017',
 '1061931700001',
 '1061931700002',
 '1061931700007',
 '1061931700009',
 '1061931700010',
 '1061931700016',
 '1061931700024',
 '1061931700025',
 '1061931700030',
 '1061931700055',
 '1061931700059',
 '1061931700065',
 '1062061690001',
 '1062061690009',
 '1062061690011',
 '1062061700006',
 '1062061700009',
 '1062061700015',
 '1062061700016',
 '1062061700018',
 '1062061700020',
 '1062061700021',
 '1062061700030',
 '1062101580008',
 '1062101690003',
 '1062101690012',
 '1062101690023',
 '1062101700002',
 '1062101700004',
 '1062101700012',
 '1062101700027',
 '1062101700037',
 '1062101700038',
 '1062101700044',
 '1062111580004',
 '1062111690002',
 '1062111690004',
 '1062111690005',
 '1062111690008',
 '1062111690029',
 '1062111690036',
 '1062111690039',
 '1062111690041',
 '1062111690043',
 '1062111690044',
 '1062111690046',
 '1062111690048',
 '1062111690057',
 '1062111690060',
 '1062111690065',
 '1062111690067',
 '1062111690074',
 '1062111690083',
 '1062111690091',
 '1062111700001',
 '1062111700002',
 '1062111700003',
 '1062111700004',
 '1062111700013',
 '1062111700015',
 '1062111700017',
 '1062111700019',
 '1062111700022',
 '1062111700024',
 '1062111700027',
 '1062111700029',
 '1062111700031',
 '1062111700043',
 '1062111700048',
 '1062111700051',
 '1062111700056',
 '1062111700061',
 '1062111700062',
 '1062111700063',
 '1062111700070',
 '1062111700074',
 '1062111700075',
 '1062111700078',
 '1062111700085',
 '1062111700087',
 '1062111700104',
 '1062111700111',
 '1062111700121',
 '1062121690005',
 '1062121690008',
 '1062121690009',
 '1062121690012',
 '1062121690025',
 '1062121690028',
 '1062121690029',
 '1062121690046',
 '1062121690050',
 '1062121690052',
 '1062121690062',
 '1062121690073',
 '1062121690078',
 '1062121700004',
 '1062121700008',
 '1062121700017',
 '1062121700023',
 '1062121700024',
 '1062121700032',
 '1062121700039',
 '1062121700042',
 '1062121700044',
 '1062121700047',
 '1062121700048',
 '1062121700049',
 '1062121700053',
 '1062121700054',
 '1062121700055',
 '1062121700064',
 '1062121700069',
 '1062121700071',
 '1062121700072',
 '1062121700082',
 '1062121700091',
 '1062121700095',
 '1062121700098',
 '1062121700104',
 '1062121700112',
 '1062121700118',
 '1062121700136',
 '1062121700153',
 '1062131690003',
 '1062131690007',
 '1062131690009',
 '1062131690013',
 '1062131690015',
 '1062131690022',
 '1062131690030',
 '1062131690032',
 '1062131690045',
 '1062131690048',
 '1062131690049',
 '1062131700001',
 '1062131700007',
 '1062131700013',
 '1062131700017',
 '1062131700018',
 '1062131700020',
 '1062131700025',
 '1062131700036',
 '1062131700037',
 '1062131700039',
 '1062131700044',
 '1062131700047',
 '1062131700049',
 '1062131700059',
 '1062141690001',
 '1062141700006',
 '1062141700007',
 '1062141700008',
 '1062151690001',
 '1062151690002',
 '1062151690003',
 '1062151690005',
 '1062151690011',
 '1062151690015',
 '1062151700001',
 '1062151700004',
 '1062161690019',
 '1062161690026',
 '1062161690027',
 '1062161700007',
 '1062161700009',
 '1062161700010',
 '1062161700017',
 '1062161700023',
 '1062161700041',
 '1062161700049',
 '1062161700056',
 '1062161700059',
 '1062161700063',
 '1062171700002',
 '1062171700005',
 '1062171700020',
 '1062171700045',
 '1062171700047',
 '1062171700049',
 '1062171700050',
 '1062181690002',
 '1062181690009',
 '1062181690013',
 '1062181690021',
 '1062181690026',
 '1062181690044',
 '1062181690048',
 '1062181690052',
 '1062181690053',
 '1062181700003',
 '1062181700004',
 '1062181700011',
 '1062181700014',
 '1062181700017',
 '1062181700027',
 '1062191690001',
 '1062191690002',
 '1062191690004',
 '1062191690005',
 '1062191690014',
 '1062191690017',
 '1062191690024',
 '1062191690025',
 '1062191690026',
 '1062191690037',
 '1062191690046',
 '1062191690050',
 '1062191700001',
 '1062191700002',
 '1062191700005',
 '1062191700007',
 '1062191700011',
 '1062191700012',
 '1062191700013',
 '1062191700014',
 '1062191700015',
 '1062191700020',
 '1062191700023',
 '1062191700024',
 '1062191700028',
 '1062191700032',
 '1062191700034',
 '1062191700035',
 '1062191700037',
 '1062191700042',
 '1062191700044',
 '1062191700050',
 '1062191700052',
 '1062191700069',
 '1062191700075',
 '1062191700078',
 '1062191700087',
 '1062201580022',
 '1062201690002',
 '1062201690003',
 '1062201690008',
 '1062201690009',
 '1062201690012',
 '1062201690035',
 '1062201690041',
 '1062201700006',
 '1062201700008',
 '1062201700010',
 '1062201700018',
 '1062201700029',
 '1062211580019',
 '1062211690006',
 '1062211690007',
 '1062211700002',
 '1062211700005',
 '1062211700006',
 '1062211700009',
 '1062211700013',
 '1062211700018',
 '1062211700025',
 '1062211700031',
 '1062211700033',
 '1062211700041',
 '1062211700043',
 '1062211700044',
 '1062211700047',
 '1062221690006',
 '1062221690010',
 '1062221690019',
 '1062221690021',
 '1062221700002',
 '1062221700003',
 '1062221700004',
 '1062221700010',
 '1062221700012',
 '1062221700013',
 '1062221700016',
 '1062221700017',
 '1062221700019',
 '1062221700020',
 '1062221700030',
 '1062221700036',
 '1062221700047',
 '1062221700049',
 '1062221700051',
 '1062251690006',
 '1062251690011',
 '1062251700004',
 '1062251700011',
 '1062251700015',
 '1062251700017',
 '1062251700019',
 '1062251700020',
 '1062251700023',
 '1062251700029',
 '1062251700032',
 '1062251700034',
 '1062251700041',
 '1062251700045',
 '1062251700050',
 '1062291690011',
 '1062291690024',
 '1062291700002',
 '1062291700006',
 '1062291700010',
 '1062291700011',
 '1062291700014',
 '1062291700016',
 '1062291700018',
 '1062291700021',
 '1062291700022',
 '1062291700038',
 '1062391700015',
 '1062401690003',
 '1062401690004',
 '1062401690007',
 '1062401690008',
 '1062401690010',
 '1062401690013',
 '1062401690017',
 '1062401700001',
 '1062421690004',
 '1062421700001',
 '1062421700004',
 '1062421700006',
 '1062431580005',
 '1062431690001',
 '1062431700002',
 '1062441690002',
 '1062441690003',
 '1062441700001',
 '1062451690004',
 '1062451690005',
 '1062491690006',
 '1062491690007',
 '1062491690011',
 '1062491690012',
 '1062491700001',
 '1062491700003',
 '1062491700020',
 '1062611580008',
 '1062611580010',
 '1062611690012',
 '1062611690024',
 '1062611690030',
 '1062611690031',
 '1062611690033',
 '1062611690034',
 '1062611690036',
 '1062611690037',
 '1062611690041',
 '1062611690049',
 '1062611700003',
 '1062611700023',
 '1062621580008',
 '1062621690005',
 '1062621690006',
 '1062621690009',
 '1062621690012',
 '1062621690020',
 '1062621690023',
 '1062621690029',
 '1062621700001',
 '1062621700005',
 '1062651580010',
 '1062651580018',
 '1062651690001',
 '1062651690003',
 '1062651690004',
 '1062651690005',
 '1062651690011',
 '1062651690012',
 '1062651690013',
 '1062651690020',
 '1062651690026',
 '1062651690036',
 '1062651700002',
 '1062651700006',
 '1062651700015',
 '1062651700021',
 '1062651700022',
 '1062651700024',
 '1062691690004',
 '1062691690010',
 '1062691690014',
 '1062691700001',
 '1062691700011',
 '1062711580013',
 '1062711690007',
 '1062711690011',
 '1062711690012',
 '1062711690029',
 '1062711690032',
 '1062711690041',
 '1062711690044',
 '1062711690049',
 '1062711690056',
 '1062711690093',
 '1062711690100',
 '1062711690121',
 '1062711690129',
 '1062711700010',
 '1062711700015',
 '1062711700020',
 '1062711700021',
 '1062711700022',
 '1062711700033',
 '1062711700036',
 '1062711700040',
 '1062711700049',
 '1062711700056',
 '1062711700060',
 '1062711700062',
 '1062711700085',
 '1062711700087',
 '1062711700094',
 '1062711700102',
 '1062711700108',
 '1062711700109',
 '1062721580027',
 '1062721690007',
 '1062721690011',
 '1062721690012',
 '1062721690015',
 '1062721690027',
 '1062721690036',
 '1062721690038',
 '1062721690041',
 '1062721690044',
 '1062721690048',
 '1062721690051',
 '1062721690054',
 '1062721700004',
 '1062721700031',
 '1062721700036',
 '1062721700038',
 '1062721700045',
 '1062721700047',
 '1062721700053',
 '1062721700054',
 '1062731690001',
 '1062731690002',
 '1062731690010',
 '1062731690012',
 '1062731690022',
 '1062731690026',
 '1062731700001',
 '1062731700002',
 '1062731700008',
 '1062731700025',
 '1062731700035',
 '1062731700038',
 '1062731700042',
 '1062731700046',
 '1062731700053',
 '1062731700056',
 '1062731700086',
 '1062741580011',
 '1062741580018',
 '1062741690003',
 '1062741690007',
 '1062741690011',
 '1062741690013',
 '1062741690015',
 '1062741690016',
 '1062741690020',
 '1062741690022',
 '1062741690023',
 '1062741690024',
 '1062741700002',
 '1062741700010',
 '1062741700012',
 '1062741700018',
 '1062741700026',
 '1062741700031',
 '1062741700036',
 '1062831690002',
 '1062831690006',
 '1062831690009',
 '1062831690013',
 '1062831690015',
 '1062831690016',
 '1062831690021',
 '1062831690029',
 '1062831700001',
 '1062831700005',
 '1062831700009',
 '1062831700016',
 '1062831700022',
 '1062831700028',
 '1062831700036',
 '1062841690020',
 '1062841700003',
 '1062841700004',
 '1063621700001',
 '1063621700002',
 '1063621700003',
 '1063621700007',
 '1063621700009',
 '1063621700010',
 '1063641580004',
 '1063641580014',
 '1063641690001',
 '1063641690002',
 '1063641690003',
 '1064121690003',
 '1064191690003',
 '1064191700002',
 '1064231690012',
 '1064461690016',
 '1064461690025',
 '1064481690002',
 '1064481690005',
 '1064551690007',
 '1064551690021',
 '1064811690004',
 '1064811690012',
 '1064821690030',
 '1064821690039',
 '1064821700014',
 '1064921580002',
 '1065111690010',
 '1065121690018',
 '1065121690024',
 '1065131690008',
 '1065191690007',
 '1065191690013',
 '1065191690015',
 '1065191700001',
 '1065291690008',
 '1065441690004',
 '1065711690002',
 '1065731690048',
 '1065841690006',
 '1110061800001',
 '1110061800004',
 '1110061800008',
 '1110061800014',
 '1110061800016',
 '1110061800021',
 '1110061800022',
 '1110061800023',
 '1110101680002',
 '1110101790012',
 '1110101790016',
 '1110101790041',
 '1110101790042',
 '1110101790053',
 '1110101790064',
 '1110101790078',
 '1110101790084',
 '1110101800002',
 '1110101800003',
 '1110101800005',
 '1110101800012',
 '1110101800018',
 '1110101800029',
 '1110101800038',
 '1110101800062',
 '1110101800063',
 '1110101800082',
 '1110111680034',
 '1110111680049',
 '1110111680091',
 '1110111790002',
 '1110111790004',
 '1110111790017',
 '1110111790018',
 '1110111790027',
 '1110111790030',
 '1110111790048',
 '1110111790051',
 '1110111790060',
 '1110111790074',
 '1110111790080',
 '1110111790094',
 '1110111790110',
 '1110111790111',
 '1110111790112',
 '1110111790113',
 '1110111790131',
 '1110111790148',
 '1110111790156',
 '1110111790158',
 '1110111790163',
 '1110111790165',
 '1110111790173',
 '1110111790179',
 '1110111790192',
 '1110111790202',
 '1110111790209',
 '1110111790228',
 '1110111790236',
 '1110111790237',
 '1110111790246',
 '1110111790248',
 '1110111790258',
 '1110111790270',
 '1110111790284',
 '1110111790292',
 '1110111790294',
 '1110111790301',
 '1110111790309',
 '1110111790311',
 '1110111790317',
 '1110111790328',
 '1110111790338',
 '1110111790342',
 '1110111790351',
 '1110111790370',
 '1110111790374',
 '1110111790387',
 '1110111790406',
 '1110111790410',
 '1110111790413',
 '1110111790425',
 '1110111790442',
 ...]