## Problem 1 - Variables and Data Types

**Q1: Assign your name to the variable `name`.**

In [ ]:
name = "Vineet"

**Q2: Assign your age (real or fake) to the variable `age`.**

In [ ]:
age = 23

**Q3: Assign a boolean value to the variable `has_android_phone`.**

In [ ]:
has_android_phone = True

You can check the values of these variables by running the next cell.

In [ ]:
name, age, has_android_phone

('Vineet', 23, True)

**Q4: Create a dictionary `person` with keys `"Name"`, `"Age"`, `"HasAndroidPhone"` and values using the variables defined above.**

In [ ]:
person = {'Name': name, 'Age': age, 'HasAndroidPhone': has_android_phone}
person

{'Age': 23, 'HasAndroidPhone': True, 'Name': 'Vineet'}

In [ ]:
person['Name']

'Vineet'

In [ ]:
vineet = "vineet"

Let's use the `person` dictionary to print a nice message.

In [ ]:
print("{} is aged {}, and owns an {}.".format(person["Name"], person["Age"], "Android phone" if person["HasAndroidPhone"] else "iPhone"))

Vineet is aged 23, and owns an Android phone.

**Q4b (Optional): Use a `for` loop to display the `type` of each value stored against each key in `person`.**

Here's the expected output for the key `"Name"`: 

```
The key "Name" has the value "Derek" of the type "<class 'str'>"
```

In [ ]:
type(person["Age"])

int

Now that you've solved one problem, it would be a good idea to record a snapshot of your notebook.

## Problem 2 - Working with Lists

**Q5: Create a list containing the following 3 elements:**

* your favorite color
* the number of pets you have
* a boolean value describing whether you have previous programming experience

In [ ]:
my_list = ["blue",0,False]

Let's see what the list looks like:

In [ ]:
my_list

['blue', 0, False]

**Q6: Complete the following `print` and `if` statements by accessing the appropriate elements from `my_list`.**

*Hint*: Use the list indexing notation `[]`.

In [ ]:
print('My favorite color is', my_list[0])

My favorite color is blue

In [ ]:
print('I have {} pet(s).'.format(my_list[1]))

I have 0 pet(s).

In [ ]:
if my_list[2]==True:
    print("I have previous programming experience")
else:
    print("I do not have previous programming experience")

I do not have previous programming experience

**Q7: Add your favorite single digit number to the end of the list using the appropriate list method.**

In [ ]:
my_list.append(5)

Let's see if the number shows up in the list.

In [ ]:
my_list

['blue', 0, False, 5]

**Q8: Remove the first element of the list, using the appropriate list method.**

*Hint*: Check out methods of list here: https://www.w3schools.com/python/python_ref_list.asp

In [ ]:
my_list.pop(0)

'blue'

In [ ]:
my_list

[0, False, 5]

**Q9: Complete the `print` statement below to display the number of elements in `my_list`.**

In [ ]:
print("The list has {} elements.".format(len(my_list)))

The list has 3 elements.

Well done, you're making good progress! Save your work before continuing

In [ ]:
jovian.commit(project=project_name,environment=None)

## Problem 3 - Conditions and loops

**Q10: Calculate and display the sum of all the numbers divisible by 7 between 18 and 534 i.e. `21+28+35+...+525+532`**.

*Hint*: One way to do this is to loop over a `range` using `for` and use an `if` statement inside it.

In [ ]:
# store the final answer in this variable
sum_of_numbers = 0

# perform the calculation here
for i in range(18,534):
  if i%7==0:
    sum_of_numbers= i+sum_of_numbers
    i+1

In [ ]:
print('The sum of all the numbers divisible by 7 between 18 and 534 is', sum_of_numbers)

The sum of all the numbers divisible by 7 between 18 and 534 is 20461

## Problem 4 - Flying to the Bahamas

**Q11: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company?**

Fill in values or arithmetic expressions for the variables below.

In [ ]:
cost_of_flying_plane = 5000

In [ ]:
number_of_passengers = 29

In [ ]:
price_of_ticket = 200

In [ ]:
profit = number_of_passengers*price_of_ticket-cost_of_flying_plane

In [ ]:
print('The company makes of a profit of {} dollars'.format(profit))

The company makes of a profit of 800 dollars

**Q11b (Optional): Out of the 29 people who took the flight, only 12 buy tickets to return from the Bahamas on the same plane. If the flying the plane back also costs 5000 dollars, and does the company make an overall profit or loss? The company charges the same fee of 200 dollars per ticket for the return flight.**

Use an `if` statement to display the result.

In [ ]:
# this is optional
passengers_return= 12
total_profit= (passengers_return*200)+profit-cost_of_flying_plane

In [ ]:
# this is optional
if total_profit>0:
    print("The company makes an overall profit of {} dollars".format(total_profit))
else:
    print("The company makes an overall loss of {} dollars".format(-total_profit))

The company makes an overall loss of 1800 dollars

Great work so far! Want to take a break? Remember to save and upload your notebook to record your progress.

In [ ]:
jovian.commit(project=project_name,environment=None)

## Problem 5 - Twitter Sentiment Analysis

Are your ready to perform some *Data Analysis with Python*? In this problem, we'll analyze some fictional tweets and find out whether the overall sentiment of Twitter users is happy or sad. This is a simplified version of an important real world problem called *sentiment analysis*.

Before we begin, we need a list of tweets to analyze. We're picking a small number of tweets here, but the exact same analysis can also be done for thousands, or even millions of tweets. The collection of data that we perform analysis on is often called a *dataset*.

In [ ]:
tweets = [
    "Wow, what a great day today!! #sunshine",
    "I feel sad about the things going on around us. #covid19",
    "I'm really excited to learn Python with @JovianML #zerotopandas",
    "This is a really nice song. #linkinpark",
    "The python programming language is useful for data science",
    "Why do bad things happen to me?",
    "Apple announces the release of the new iPhone 12. Fans are excited.",
    "Spent my day with family!! #happy",
    "Check out my blog post on common string operations in Python. #zerotopandas",
    "Freecodecamp has great coding tutorials. #skillup"
]

Let's begin by answering a very simple but important question about our dataset.

**Q12: How many tweets does the dataset contain?**

In [ ]:
number_of_tweets = len(tweets)
number_of_tweets

10

Let's create two lists of words: `happy_words` and `sad_words`. We will use these to check if a tweet is happy or sad.

In [ ]:
happy_words = ['great', 'excited', 'happy', 'nice', 'wonderful', 'amazing', 'good', 'best']

In [ ]:
sad_words = ['sad', 'bad', 'tragic', 'unhappy', 'worst']

To identify whether a tweet is happy, we can simply check if contains any of the words from `happy_words`. Here's an example:

In [ ]:
sample_tweet = tweets[0]

In [ ]:
sample_tweet

'Wow, what a great day today!! #sunshine'

In [ ]:
is_tweet_happy = False

# Get a word from happy_words
for word in happy_words:
    # Check if the tweet contains the word
    if word in sample_tweet:
        # Word found! Mark the tweet as happy
        is_tweet_happy = True

Do you understand what we're doing above? 

> For each word in the list of happy words, we check if is a part of the selected tweet. If the word is indded a part of the tweet, we set the variable `is_tweet_happy` to `True`.

In [ ]:
is_tweet_happy

True

**Q13: Determine the number of tweets in the dataset that can be classified as happy.**

*Hint*: You'll need to use a loop inside another loop to do this. Use the code from the example shown above.

In [ ]:
# store the final answer in this variable
number_of_happy_tweets = 0
number_of_sad_tweets=0

# perform the calculations here
for tweet in tweets:
  for word in happy_words:
    if word in tweet:
      number_of_happy_tweets+=1

In [ ]:
print("Number of happy tweets:", number_of_happy_tweets)

Number of happy tweets: 6

**Q14: What fraction of the total number of tweets are happy?**

For example, if 2 out of 10 tweets are happy, then the answer is `2/10` i.e. `0.2`.

In [ ]:
happy_fraction = (number_of_happy_tweets)/len(tweets)

In [ ]:
print("The fraction of happy tweets is:", happy_fraction)

The fraction of happy tweets is: 0.6

To identify whether a tweet is sad, we can simply check if contains any of the words from `sad_words`.

**Q15: Determine the number of tweets in the dataset that can be classified as sad.**

In [ ]:
# store the final answer in this variable
number_of_sad_tweets = 0

# perform the calculations here
for tweet in tweets:
  for word in sad_words:
    if word in tweet:
      number_of_sad_tweets+=1

In [ ]:
print("Number of sad tweets:", number_of_sad_tweets)

Number of sad tweets: 2

**Q16: What fraction of the total number of tweets are sad?**

In [ ]:
sad_fraction = number_of_sad_tweets/len(tweets)

In [ ]:
print("The fraction of sad tweets is:", sad_fraction)

The fraction of sad tweets is: 0.2

The rest of this problem is optional. Let's save your work before continuing.

In [ ]:
jovian.commit(project=project_name,environment=None)

Great work, even with some basic analysis, we already know a lot about the sentiment of the tweets given to us. Let us now define a metric called "sentiment score", to summarize the overall sentiment of the tweets.

**Q16b (Optional): Calculate the sentiment score, which is defined as the difference betweek the fraction of happy tweets and the fraction of sad tweets.**

In [ ]:
sentiment_score = happy_fraction-sad_fraction

In [ ]:
print("The sentiment score for the given tweets is", sentiment_score)

The sentiment score for the given tweets is 0.39999999999999997

In a real world scenario, we could calculate & record the sentiment score for all the tweets sent out every day. This information can be used to plot a graph and study the trends in the changing sentiment of the world. The following graph was creating using the Python data visualization library `matplotlib`, which we'll cover later in the course.

<img src="https://i.imgur.com/6CCIwCb.png" style="width:400px">

What does the sentiment score represent? Based on the value of the sentiment score, can you identify if the overall sentiment of the dataset is happy or sad?

**Q16c (Optional): Display whether the overall sentiment of the given dataset of tweets is happy or sad, using the sentiment score.**

In [ ]:
if sentiment_score>0:
    print("The overall sentiment is happy")
else:
    print("The overall sentiment is sad")

The overall sentiment is happy

Finally, it's also important to track how many tweets are neutral i.e. neither happy nor sad. If a large fraction of tweets are marked neutral, maybe we need to improve our lists of happy and sad words. 

**Q16d (Optional): What is the fraction of tweets that are neutral i.e. neither happy nor sad.**

In [ ]:
# store the final answer in this variable
number_of_neutral_tweets = 0

# perform the calculation here
number_of_neutral_tweets = number_of_tweets - (number_of_sad_tweets + number_of_happy_tweets)
number_of_neutral_tweets

2

In [ ]:
neutral_fraction = number_of_neutral_tweets / number_of_tweets

In [ ]:
print('The fraction of neutral tweets is', neutral_fraction)

The fraction of neutral tweets is 0.2