https://www.mygreatlearning.com/blog/python-interview-questions/#basic

In [12]:
import numpy as np
import pandas as pd

In [1]:
## Concantenate tuplues
tup1=(4,"a",31)
tup2= (55, 9, "b")
tup1+tup2

In [11]:
## Initialize 5*5 array with only zeros
import numpy as np

np.zeros((5,5),dtype= int)

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]])

In [12]:
## What is Series in pandas?
#Series is 1D data structure which can store data of any type

import pandas as pd
data=["1",2,"three",4.0,True]
series=pd.Series(data)
print(series)

0        1
1        2
2    three
3      4.0
4     True
dtype: object

In [13]:
##What is pandas groupby?
#it used to group data by classes, entities which can be further used for aggregation.
#A dataframe can be grouped by one or more columns.

df = pd.DataFrame({'Vehicle':['Etios','Lamborghini','Apache200','Pulsar220'], 'Type':["car","car","motorcycle","motorcycle"]})
df

       Vehicle        Type
0        Etios         car
1  Lamborghini         car
2    Apache200  motorcycle
3    Pulsar200  motorcycle

In [25]:
#Now using group by to group cars and motorcycles
a= df.groupby(by= 'Type').count()
a

            Vehicle
Type
car               2
motorcycle        2

In [117]:
bikes=["bajaj","tvs","herohonda","kawasaki","bmw"]
cars=["lamborghini","masserati","ferrari","hyundai","ford"]
a= pd.DataFrame([bikes,cars])
df= a.transpose()
df.columns=['bikes', 'cars']
print(df)
v=[]
for i in range(1,6):
    v.append(i)
ind= v
df.index= ind
df.set_index = (['bikes', 'cars'])

       bikes         cars
0      bajaj  lamborghini
1        tvs    masserati
2  herohonda      ferrari
3   kawasaki      hyundai
4        bmw         ford

In [135]:
#Dictionary
d={'a':(1,2),'b':2}
d['a']

d.keys()  #TO GET ALL THE KEYS
d.items()  #to get all the content

dict_items([('a', (1, 2)), ('b', 2)])

In [3]:
#How will you remove duplicates from a list?

list0= [1,1,2,3,2,4,7,8,6,6,5,5,5]
list1= list(set(list0))  #BY USING SET
list1

[1, 2, 3, 4, 5, 6, 7, 8]

# Reversing a string

In [47]:
## How to reverse a string?
str1= ('A P Dhillon')
str1[::-1]

'nollihD P A'

In [1]:
def reverse_array(arr):
    i = 0
    j = len(arr) - 1

    while i != j and i < j:
        arr[i], arr[j] = arr[j], arr[i]
        i += 1
        j -= 1

    return arr


result = reverse_array([4, 12, 14, 16, 18])
print(result)

[18, 16, 14, 12, 4]

In [48]:
#Remove spaces from string
str1.replace(' ','')

'APDhillon'

In [17]:
#Given the following data frame drop rows having column values as A.
d={"col1":[1,2,3],"col2":["A","B","C"]}
df=pd.DataFrame(d)
df.index=['g','h','j']
df

   col1 col2
g     1    A
h     2    B
j     3    C

In [42]:
df1= df.copy()
df1= df1[df1.col2 !='A']
df1

   col1 col2
h     2    B
j     3    C

In [52]:
list(map(lambda x:x,range(8)))  #To print numbers in a list.

[0, 1, 2, 3, 4, 5, 6, 7]

## Palindrome

In [77]:
def isPalindrome(string):
    left_pos = 0
    right_pos = len(string) - 1

    while right_pos >= left_pos:
        if string[left_pos] != string[right_pos]:
            return False
        else:
            return True

    left_pos += 1
    right_pos -= 1

In [83]:
isPalindrome('maaaaaam')

True

In [2]:
##Calculate sum of list of numbers

a= [3,14,5,6,9]
b= [4,7,15,24,1]

In [89]:
a[1]+b[1]

21

In [3]:
sorted(a)  #Gives in ascending order

[3, 5, 6, 9, 14]

In [7]:
## Let all odd numbers come before even numbers, 
# and sort the odd numbers in ascending order and 
# even numbers in descending order. 
# For example, the string '1982376455' becomes '1355798642


def oddeven(str):
    odd = ""
    even = ""
    
    for num in str:
        if int(num) %2 ==0:
            odd = odd+num
        else:
            even= even+num
    temp = sorted(odd) + sorted(even, reverse=True)
    
    return "".join(temp)
    #return temp

oddeven("1154896")

'4689511'

In [9]:
#Bubble sort: sorting numbers in ascending order when you cant use Sorted function. sorted(a)

def bubbleSort(arr):
  # travese the whole array
  for i in range(len(arr)):
    
    # last i elements are already in place
    for j in range(0, len(arr)-i-1):
      
      if arr[j] > arr[j+1]:
        arr[j], arr[j+1] = arr[j+1], arr[j]
  
  return arr

arr = [2, 6, 1, 5, 3, 4]
bubbleSort(arr)

[1, 2, 3, 4, 5, 6]

In [17]:
def bubblesort(arr):
    for i in range(len(arr)):
        for j in range(len(arr)-1):
            if arr[j] > arr[j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j]
    return arr

bubblesort([2,4,7,1,11,6])    #Easy way!

[1, 2, 4, 6, 7, 11]

# Fibbonaci

In [61]:
fibbonaci=[0,1]
def fib(n):
    if n<2:
        return fibbonaci
    else:
        while len(fibbonaci) < n:
            
            fibbonaci.append(fibbonaci[-1]+ fibbonaci[-2])
        return fibbonaci

In [63]:
fib(6)

[0, 1, 1, 2, 3, 5]

In [64]:
# Given a string, check if it only contains digits.


def is_digit(input_str):
    try:
        int(input_str)  # If its possible to convert to a number, return True.
        return True
    
    except ValueError:
        return False   # If the string contains letters, above will fail, returning False.


result = is_digit("095357973590759530")
print(result)  # True

result = is_digit("1234abc567")
print(result)  # False

True
False