1. Palindrome
2. Factorial
3. Reverse 
4. star pattern
5. prime numbers
6. fibonacci series

In [7]:
import pandas as pd
import numpy as np

## Palindrome

In [34]:
def palin(abc):
    if abc== abc[::-1]:
        return ("num is palidrome")
    else:
        return ("not palin")

In [36]:
palin("howdy")

'not palin'

## Factorial

In [65]:
#write a code to print the foactorial

def fact(num):
    num= int(num)
    ans=1
    
    for i in range(num):    #while num>1
        if num>1:
            ans = ans*(num)
            num -=1
    return ans

In [66]:
fact(4)

24

## Reversing

In [67]:
def rev(abc):
    return abc[::-1]

In [68]:
rev("kimono")

'onomik'

## Star Pattern

In [31]:
def star(num):
    num= int(num)
    #num= int(input("How many star rows do you want?"))
    
    while num>0:
        print (('*' * num), end="\n")
        num-=1

In [32]:
star(6)

111111
11111
1111
111
11
1

In [43]:
# Left triangle star pattern
n = int(input("number of stars"))

for i in range(1, n+1):
    print("*" * i)

number of stars5
*
**
***
****
*****

In [49]:
# Left triangle star pattern
sn = int(input("number of stars"))

for i in range(1, n+1):
    print(" " * (n - i) + "*" * i)

number of stars5
    *
   **
  ***
 ****
*****

In [50]:
# pyramid star pattern
n = int(input("number of stars"))

for i in range(n):
    print(' ' * (n - (i + 1)) + '*' * (2 * i + 1))

number of stars5
    *
   ***
  *****
 *******
*********

## Prime numbers

In [56]:
n = int(input("Enter a number "))
if n<=1:
    print("Not prime")
else:
    for i in range(2,n):
        if n%i ==0:
            print("not prime")
            break
        else:
            print("Number is prime")
            break

Enter a number1
Not prime

In [71]:
#Print prime numbers below n
n= int(input("enter a number "))

for num in range(1, n + 1):
   # all prime numbers are greater than 1
   if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

enter a number 9
2
3
5
7

## Fibonacci series

In [61]:
n = int(input("Enter a number"))

fib= [1,1]
for i in range(3, n+1):
    fib.append(fib[-1]+fib[-2])
print(fib)

Enter a number0
[1, 1]

In [9]:
def prime(lp, up):
    up = int(up)
    lp= int(lp)
    
    for num in range(lp, up+1):
        if num>1:
            for i in range(2,num):
                if num%i ==0:
                    break
            else:
                print(num)

In [10]:
prime(40,69)

41
43
47
53
59
61
67

In [8]:
n= int(input("Enter any number")) 

for num in range(1, n + 1):
  
   if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Enter any number5
2
3
5

In [17]:
n= int(input("enter number"))

ans=1
for i in range(1,n):
    ans= ans*n
    n-=1
print(ans)

enter number3
6