In [2]:
import pickle

In [3]:
#Load model
pkl_filename = "Model_regression_admissionprediction_MLR.pkl"
with open(pkl_filename, 'rb') as file:   #rb= read binary
    pickle_model = pickle.load(file)

In [4]:
pickle_model

LinearRegression()

In [5]:
import pandas as pd

In [17]:
d= pd.read_csv("D:/iAnalyst/Machine Learning/Task from scratch/Admission_Predict_MLR.csv")
df= d.copy()

In [18]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [19]:
trial= df.iloc[[65],]
trial

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
65,66,325,112,4,3.5,3.5,8.92,0,0.55

In [20]:
df.columns= df.columns.str.strip() #removes the unnecessary spaces in the names of the columns
df= df.drop("Serial No.",axis=1)

In [ ]:
pickle_model