In [ ]:
pip install researchpy

In [1]:
import pandas
import researchpy as rp
import seaborn as sns

import statsmodels.api as sm
from statsmodels.formula.api import ols
import statsmodels.stats.multicomp


df = pandas.read_csv("crop_yield.csv")

In [2]:
rp.summary_cont(df['Yield'])

  Variable     N   Mean      SD     SE  95% Conf.  Interval
0    Yield  20.0  29.04  4.2305  0.946    27.0601   31.0199

In [3]:
rp.summary_cont(df.groupby(['Fert']))['Yield']

       N   Mean      SD      SE  95% Conf.  Interval
Fert
A     10  30.90  3.2840  1.0385    28.5508   33.2492
B     10  27.18  4.3944  1.3896    24.0364   30.3236

In [4]:
rp.summary_cont(df.groupby(['Water']))['Yield']

        N   Mean      SD      SE  95% Conf.  Interval
Water
High   10  30.82  3.2448  1.0261    28.4988   33.1412
Low    10  27.26  4.4960  1.4218    24.0438   30.4762

In [5]:
rp.summary_cont(df.groupby(['Fert', 'Water']))['Yield']

            N   Mean      SD      SE  95% Conf.  Interval
Fert Water
A    High   5  31.80  3.1464  1.4071    27.8932   35.7068
     Low    5  30.00  3.5128  1.5710    25.6382   34.3618
B    High   5  29.84  3.3746  1.5092    25.6499   34.0301
     Low    5  24.52  3.7910  1.6954    19.8128   29.2272

### 2-way ANOVA Example

In [6]:
# Fits the model with the interaction term
# This will also automatically include the main effects for each factor
model = ols('Yield ~ C(Fert)*C(Water)', df).fit()

# Seeing if the overall model is significant
print(f"Overall model F({model.df_model: .0f},{model.df_resid: .0f}) = {model.fvalue: .3f}, p = {model.f_pvalue: .4f}")

Overall model F( 3, 16) =  4.112, p =  0.0243

In [7]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Yield   R-squared:                       0.435
Model:                            OLS   Adj. R-squared:                  0.330
Method:                 Least Squares   F-statistic:                     4.112
Date:                Wed, 24 Mar 2021   Prob (F-statistic):             0.0243
Time:                        13:05:58   Log-Likelihood:                -50.996
No. Observations:                  20   AIC:                             110.0
Df Residuals:                      16   BIC:                             114.0
Df Model:                           3
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
Intercept                       31.8000      1.549     20.527      0.000      28.516      35.084
C(Fert)[T.B]                    -1.9600      2.191     -0.895      0.384      -6.604       2.684
C(Water)[T.Low]                 -1.8000      2.191     -0.822      0.423      -6.444       2.844
C(Fert)[T.B]:C(Water)[T.Low]    -3.5200      3.098     -1.136      0.273     -10.088       3.048
==============================================================================
Omnibus:                        3.427   Durbin-Watson:                   2.963
Prob(Omnibus):                  0.180   Jarque-Bera (JB):                1.319
Skew:                          -0.082   Prob(JB):                        0.517
Kurtosis:                       1.752   Cond. No.                         6.85
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [8]:
# Creates the ANOVA table
res = sm.stats.anova_lm(model, typ= 2)
res

                   sum_sq    df         F    PR(>F)
C(Fert)            69.192   1.0  5.766000  0.028847
C(Water)           63.368   1.0  5.280667  0.035386
C(Fert):C(Water)   15.488   1.0  1.290667  0.272656
Residual          192.000  16.0       NaN       NaN

In [9]:
# Fits the model
model2 = ols('Yield ~ C(Fert)+ C(Water)', df).fit()

print(f"Overall model F({model2.df_model: .0f},{model2.df_resid: .0f}) = {model2.fvalue: .3f}, p = {model2.f_pvalue: .4f}")

Overall model F( 2, 17) =  5.430, p =  0.0150

In [10]:
model2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Yield   R-squared:                       0.390
Model:                            OLS   Adj. R-squared:                  0.318
Method:                 Least Squares   F-statistic:                     5.430
Date:                Wed, 24 Mar 2021   Prob (F-statistic):             0.0150
Time:                        13:08:10   Log-Likelihood:                -51.772
No. Observations:                  20   AIC:                             109.5
Df Residuals:                      17   BIC:                             112.5
Df Model:                           2
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          32.6800      1.353     24.153      0.000      29.825      35.535
C(Fert)[T.B]       -3.7200      1.562     -2.381      0.029      -7.016      -0.424
C(Water)[T.Low]    -3.5600      1.562     -2.279      0.036      -6.856      -0.264
==============================================================================
Omnibus:                        1.169   Durbin-Watson:                   2.736
Prob(Omnibus):                  0.557   Jarque-Bera (JB):                0.820
Skew:                          -0.081   Prob(JB):                        0.664
Kurtosis:                       2.022   Cond. No.                         3.19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [11]:
# Creates the ANOVA table
res2 = sm.stats.anova_lm(model2, typ= 1)
res2

            df   sum_sq    mean_sq         F    PR(>F)
C(Fert)    1.0   69.192  69.192000  5.669070  0.029228
C(Water)   1.0   63.368  63.368000  5.191895  0.035887
Residual  17.0  207.488  12.205176       NaN       NaN

In [12]:
# Calculating effect size
def anova_table(aov):
    aov['mean_sq'] = aov[:]['sum_sq']/aov[:]['df']
    
    aov['eta_sq'] = aov[:-1]['sum_sq']/sum(aov['sum_sq'])
    
    aov['omega_sq'] = (aov[:-1]['sum_sq']-(aov[:-1]['df']*aov['mean_sq'][-1]))/(sum(aov['sum_sq'])+aov['mean_sq'][-1])
    
    cols = ['sum_sq', 'mean_sq', 'df', 'F', 'PR(>F)', 'eta_sq', 'omega_sq']
    aov = aov[cols]
    return aov

anova_table(res2)

           sum_sq    mean_sq    df         F    PR(>F)    eta_sq  omega_sq
C(Fert)    69.192  69.192000   1.0  5.669070  0.029228  0.203477  0.161778
C(Water)   63.368  63.368000   1.0  5.191895  0.035887  0.186350  0.145244
Residual  207.488  12.205176  17.0       NaN       NaN       NaN       NaN

### Post-hoc Testing

In [13]:
mc = statsmodels.stats.multicomp.MultiComparison(df['Yield'], df['Fert'])
mc_results = mc.tukeyhsd()
print(mc_results)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     A      B    -3.72 0.0459 -7.3647 -0.0753   True
----------------------------------------------------

In [14]:
mc = statsmodels.stats.multicomp.MultiComparison(df['Yield'], df['Water'])
mc_results = mc.tukeyhsd()
print(mc_results)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
  High    Low    -3.56 0.0574 -7.2436 0.1236  False
---------------------------------------------------